## DATABASE & ANALYTICS PROGRAMMING
### Irelands accommodation activities and attractions data visualization

In [ ]:
#Import all the required librabries
#!pip install "pymongo[srv]"
import urllib.request
from pymongo import MongoClient
import json
import pymongo
import numpy as np
import pandas as pd

## Fetch all the required data from the web

In [ ]:
#created function with "name" as API call request type name and "number" as the pages
def get_all_details(name,number):
    #total data in activities=6115,accommodation=2397,attractions=1556
    base_url = "https://failteireland.azure-api.net/opendata-api/v1/{}subscription-key=&search=*&$skip={}"
    acc_url = base_url.format(name, number)
    
    try:
        with urllib.request.urlopen(acc_url) as response:
            
            return json.load(response)
    except urllib.error.URLError as e:
        print("The API URL is invalid."+e)
    except json.JSONDecodeError:
        print("Error decoding JSON response")
        return {}

In [ ]:
#We created remote mongoDB using mongo atlas
try:
    client = MongoClient("mongodb+srv://AdminDap:admin003@cluster3.oqbqjxz.mongodb.net/test")
    db = client['dap_project']
except pymongo.errors.ConnectionError as e:
    print("Could not connect to MongoDB: %s" % e)
#sepeate collections for each api calls    
acc_data = db['accommodation-collection']
attrac_data = db['attractions-collection']
acti_data = db['activities-collection']

In [ ]:
def upload_data(data_type,ALL_DATA):
    if data_type =="accommodation" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acc_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="attractions" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            attrac_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="activities" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acti_data.insert_one(ALL_DATA["results"][i])

In [ ]:
#using arange to call the accommodation API page with 50 content at once
for dat in np.arange(0,2400,50):
    print(dat)
    upload_data("accommodation",get_all_details("accommodation?",dat))
    time.sleep(10)

In [ ]:
#using arange to call the attraction API page with 50 content at once
for dat in np.arange(0,1600,50):
    print(dat)
    upload_data("attractions",get_all_details("attractions?",dat))
    time.sleep(10)

In [ ]:
#using arange to call the activities API page with 50 content at once
for dat in np.arange(0,6150,50):
    print(dat)
    upload_data("activities",get_all_details("activities?",dat))
    time.sleep(10)

## Working on Attraction data ETL process
### Rajat Murdeshwar

In [ ]:
attraction_df = pd.json_normalize(list(attrac_data.find()),max_level=1)
attraction_df.head()

In [ ]:
attraction_df = attraction_df.drop(["_id","@context", "url", "image.@type", "image.caption", "image.url", "geo.@type", "address.@type", "telephone", "address.addressCountry"], axis=1)
# flatten tags data with true
attraction_df['tags'] = attraction_df['tags'].apply(lambda x: {t: True for t in x})

In [ ]:
attraction_type = [] 

#looping the type column to fetch the data
for data in attraction_df["@type"]:
    attraction_type.append(data[1]) #feath the data from second index
#placing the data in to the original dataframe as two columns and dropping the old colume geolocation
attraction_df['Type of Attraction'] = attraction_type #adding values to column
attraction_df.drop(columns=['@type'], inplace=True)

In [ ]:
df1 =attraction_df

df_tags = pd.concat([df1.drop(['tags', 'name', 'geo.longitude', 'geo.latitude', 'address.addressRegion', 'address.addressLocality', 'Type of Attraction'], axis=1), df1['tags'].apply(pd.Series).fillna(False)], axis=1)

In [ ]:
attraction_df = pd.concat([attraction_df.drop(['tags'], axis=1), attraction_df['tags'].apply(pd.Series).fillna(False)], axis=1)

In [ ]:
#rename to columns to appropriate name
attraction_df = attraction_df.rename(columns={"name": "Name",
                        "geo.longitude": "Longitude",
                        "geo.latitude": "Latitude",
                        "address.addressLocality": "Locality",
                        "address.addressRegion": "Region"})

In [ ]:
attraction_df.head()

In [ ]:
#All the unique values of tags
df_tags.columns

### Creating the Category of all simillar tags to bring down column

In [ ]:
culture_history_columns = ['Museums and Attraction', 'Historic Houses and Castle', 'Ruins', 'Church Abbey', 'Monastery', 'Churches', 'Abbeys and Monastery', 'Literary Ireland', 'Craft', 'Tracing Your Ancestors', 'Traditionally Irish', 'Public Sculpture']
attraction_df['Culture and History'] = attraction_df[culture_history_columns].any(axis=1)
attraction_df.drop(columns=culture_history_columns, inplace=True)

In [ ]:
nature_wildlife_columns = ['Agriculture', 'Nature and Wildlife', 'Natural Landscape', 'Gardens', 'Garden', 'Forest Park', 'Park and Forest Walk', 'National Park', 'National and Forest Park', 'Bird Watching', 'Zoos and Aquarium', 'Visitor Farm','Ireland\'s Hidden Hearthlands']
attraction_df['Nature and Wildlifes'] = attraction_df[nature_wildlife_columns].any(axis=1)
attraction_df.drop(columns=nature_wildlife_columns, inplace=True)

In [ ]:
food_drink_columns = ['Food and Drink', 'Restaurant', 'Cafe', 'Local Produce', 'Food Shops', 'Vegan', 'Vegetarian', 'Seafood', 'Cooking', 'Cookery', 'Food Trails and Tour', 'Fast Food']
attraction_df['Food and Drinks'] = attraction_df[food_drink_columns].any(axis=1)
attraction_df.drop(columns=food_drink_columns, inplace=True)

In [ ]:
sports_adventure_columns = ['Activity Operator', 'Cycling', 'Horse Riding', 'Equestrian', 'Golf', 'Kitesurfing', 'Windsurfing', 'Sailing', 'Falconry', 'Adventure Park', 'Zip Lining', 'Stadium', 'Sports Venue', 'Sports Venues', 'Swimming', 'Swimming Pools and Water Park', 'Surfing', 'Fishing', 'Angling', 'Climbing']
attraction_df['Sports and Adventure'] = attraction_df[sports_adventure_columns].any(axis=1)
attraction_df.drop(columns=sports_adventure_columns, inplace=True)

In [ ]:
entertainment_columns = ['Movies', 'Cinema', 'Comedy', 'Music', 'Pubs and Bar', 'Gaa', 'Venue']
attraction_df['Entertainment'] = attraction_df[entertainment_columns].any(axis=1)
attraction_df.drop(columns=entertainment_columns, inplace=True)

In [ ]:
shopping_columns = ['Shopping Centres and Department Store', 'Shopping']
attraction_df['Entertainment'] = attraction_df[shopping_columns].any(axis=1)
attraction_df.drop(columns=shopping_columns, inplace=True)

In [ ]:
outdoor_water_activities = ['Kayaking', 'Boat', 'Cruising', 'Beach', 'River']
attraction_df['Outdoor Water Activities'] = attraction_df[outdoor_water_activities].any(axis=1)
attraction_df.drop(columns=outdoor_water_activities, inplace=True)

In [ ]:
attraction_df.drop(columns=['Activity', 'Attraction', 'Gardening',
       'Learning', 'Castle', 'Photography', 'Walking',
       'Art Gallery', 'Tour','Embarkation Point', 'Public Park',
       'Transport', 'Island', 'Offshore Island', 'Coach', 'Road',
       'Discovery Point', 'Day Tour', 'Artisan',
       'Marina', 'Pampering', 'Health Farm', 'Spa and Wellness',
       'Specialised Retreat', 'Spa', 'Bike Rental'])

In [ ]:
attraction_df.columns

In [ ]:
#connecting to postgreSQL DB and creating new DB
def createDB():
    """ 
    This function will create a new database and connect to a PostgreSQL database.
    Input: Input is the SQL query to create database.
    Output: The database will be created in PostgreSQL
    """
    # Importing necessary libraries
    import psycopg2
    try:
        # Making a connection with PostgreSQL database
        dbConnection = psycopg2.connect(
            user = "dap",
            password = "dap",
            host = "localhost",
            port = "5432",
            database = "postgres")
        # Below statement is for autocommit
        dbConnection.set_isolation_level(0) 
        # Creating a DB cursor
        dbCursor = dbConnection.cursor()
        # Dropping database if already present
        dbCursor.execute("DROP DATABASE IF EXISTS attraction;")
        # Executing SQL statement using DB cursor
        dbCursor.execute('CREATE DATABASE attraction;')
        return dbCursor,dbConnection
    except (Exception , psycopg2.Error) as dbError :
        # Printing error if occurred while connecting to PostgreSQL database
        print ("Error while connecting to PostgreSQL", dbError)

In [ ]:
#connecting to the DB and getting the cursor
cur,conn = createDB()

In [ ]:
#delete table
def deleteTable():
    sql_scrpt = "Drop table attraction"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#creates new table
def createTable():
    sql_scrpt = "Create table IF NOT EXISTS attraction(id serial not null,name varchar(255),longitude DOUBLE PRECISION,latitude DOUBLE PRECISION,locality varchar(255),region varchar(255),type_of_attraction varchar(255),culture_and_history boolean,nature_and_wildlifes boolean,food_and_drinks boolean,sports_and_adventure boolean,entertainment boolean,outdoor_water_activities boolean)"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#Insert new table
    
def insertData(data):
    print(len(data))
    insrt_scrpt = 'Insert into attraction(id,name,longitude,latitude,locality,region,type_of_attraction,culture_and_history,nature_and_wildlifes,food_and_drinks,sports_and_adventure,entertainment,outdoor_water_activities) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cur.execute(insrt_scrpt,[data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],data[10],data[11],data[12]])
    conn.commit()

In [ ]:
# Do not run Repeatedly
'''upload only import variables for the visualization only the columns which are usefull'''
createTable()
for i in range (len(attraction_df.index)):
    value =[]
    id = i
    value.append(id)
    value.append(str(attraction_df['Name'][i]))
    value.append(str(attraction_df['Longitude'][i]))
    value.append(str(attraction_df['Latitude'][i]))
    value.append(str(attraction_df['Locality'][i]))
    value.append(str(attraction_df['Region'][i]))
    value.append(str(attraction_df['Type of Attraction'][i]))
    value.append(str(attraction_df['Culture and History'][i]))
    value.append(str(attraction_df['Nature and Wildlifes'][i]))
    value.append(str(attraction_df['Food and Drinks'][i]))
    value.append(str(attraction_df['Sports and Adventure'][i]))
    value.append(str(attraction_df['Entertainment'][i]))
    value.append(str(attraction_df['Outdoor Water Activities'][i]))
   
    insertData(value)
cur.close()
conn.close()    
print('Data is Uploaded to psgresql succesfully')

In [ ]:
#retreving the Data from the PosgreSQL
import pandas as pd
#connecting to the DB and getting the cursor
cur,conn = createDB()
attractions_data = pd.read_sql('select * from attraction', con=conn)

In [ ]:
attractions_data

In [ ]:
top_10_localities = attractions_data.locality.value_counts().sort_values(ascending=False).head(10)
top_10_df = pd.DataFrame({"City": top_10_localities.index, "Count": top_10_localities.values})
top_10_df.head()

In [ ]:
#using plotly to display top 10 localities 
import plotly.express as px
import plotly.graph_objs as go

fig = px.bar(top_10_df, x='City', y='Count', title='Top 10 Localities with the Highest Number of Attractions')
fig.show()

In [ ]:
df_category = attractions_data
# group the attractions by category and count the number of attractions in each category
category_count = df_category.drop(["id","name", "longitude", "latitude", "locality", "region", "type_of_attraction"], axis=1).sum()

# create a bar chart using Plotly
fig = px.bar(category_count, x=category_count.index, y=category_count.values,
             labels={"x": "Category", "y": "Number of Attractions"},
             title="Number of Attractions in Each Category")
fig.show()

In [ ]:
fig = px.scatter_mapbox(attraction_df, lat="Latitude", lon="Longitude",
                        hover_name="Name", hover_data=["Locality", "Region"],
                        zoom=10, mapbox_style="open-street-map", 
                        title="All the Attractions in the Ireland with lat and long")
fig.show()

In [ ]:
df_tf = attractions_data.pivot_table(index = ['region'], aggfunc ='size')
df4 = df_tf.reset_index()
df4 = df4.drop([0])
df4.columns.values[1]="Count"
df4.head()

In [ ]:

cou = open('Ireland_Counties.geojson')
counties = json.load(cou)
fig = px.choropleth_mapbox(df4, geojson=counties, locations='region', color='Count',
                           color_continuous_scale="Viridis",
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'region':'Region'},
                           title="All the Attractions in each County with count")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
cou.close

In [ ]:
cou = open('Ireland_Counties.geojson')
counties = json.load(cou)
fig = px.choropleth_mapbox(attraction_df, geojson=counties, locations='Region', color='Type of Attraction',
                           color_continuous_scale="Viridis",
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'Region':'Region'})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
cou.close

In [ ]:
culture_history_counts = attraction_df.groupby('Region')['Culture and History'].sum().sort_values(ascending=False)
culture_history_counts

# Create a bar chart of nature_counts
fig = go.Figure(
    data=[go.Bar(x=culture_history_counts.index, y=culture_history_counts.values)],
    layout_title_text='Number of Culture and History Attractions by Region'
)
fig.show()

In [ ]:
nature_counts = attraction_df.groupby('Region')['Nature and Wildlifes'].sum().sort_values(ascending=False)
nature_counts

# Create a bar chart of nature_counts
fig = go.Figure(
    data=[go.Bar(x=nature_counts.index, y=nature_counts.values)],
    layout_title_text='Number of Nature and Wildlife Attractions by Region'
)
fig.show()

In [ ]:
food_drinks_counts = attraction_df.groupby('Region')['Food and Drinks'].sum().sort_values(ascending=False)
food_drinks_counts

# Create a bar chart of nature_counts
fig = go.Figure(
    data=[go.Bar(x=food_drinks_counts.index, y=food_drinks_counts.values)],
    layout_title_text='Number of Food and Drinks by Region'
)
fig.show()

In [ ]:
sports_counts = attraction_df.groupby('Region')['Sports and Adventure'].sum().sort_values(ascending=False)
sports_counts

# Create a bar chart of nature_counts
fig = go.Figure(
    data=[go.Bar(x=sports_counts.index, y=sports_counts.values)],
    layout_title_text='Number of Sports and Adventure Attractions by Region'
)
fig.show()

In [ ]:
entertainmaent_counts = attraction_df.groupby('Region')['Entertainment'].sum().sort_values(ascending=False)
entertainmaent_counts

# Create a bar chart of nature_counts
fig = go.Figure(
    data=[go.Bar(x=entertainmaent_counts.index, y=entertainmaent_counts.values)],
    layout_title_text='Number of Entertainment Attractions by Region'
)
fig.show()

In [ ]:
outdoor_counts = attraction_df.groupby('Region')['Outdoor Water Activities'].sum().sort_values(ascending=False)
outdoor_counts

# Create a bar chart of nature_counts
fig = go.Figure(
    data=[go.Bar(x=outdoor_counts.index, y=outdoor_counts.values)],
    layout_title_text='Number of Outdoor Water Activities Attractions by Region'
)
fig.show()

In [ ]:
# Group the data by County and each of the category columns
grouped_df = attraction_df.groupby('Region')[['Culture and History', 'Nature and Wildlifes', 'Food and Drinks', 'Sports and Adventure', 'Entertainment', 'Outdoor Water Activities']].sum()

# Calculate the most occurring category for each county
most_occuring_category = grouped_df.idxmax(axis=1)
most_occuring_df = pd.DataFrame({"Region": most_occuring_category.index, "Category": most_occuring_category.values})
most_occuring_df.head(10)

In [ ]:
cou = open('Ireland_Counties.geojson')
counties = json.load(cou)
fig = px.choropleth_mapbox(most_occuring_df, geojson=counties, locations='Region', color='Category',
                           color_continuous_scale="Viridis",
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'Region':'Region'})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
cou.close

In [ ]:
################################################################################
acc_df = pd.DataFrame(list(acc_data.find()))
acc_df.shape

In [ ]:
acc_df.head()

In [ ]:
longitude,latitude = [],[]
def createDf(data): #calling function
    print(data)

In [ ]:
test_Dataset = acc_df['geo']
for i in range (0,len(test_Dataset)):
            longitude.append(test_Dataset.get(i).get('longitude'))
            latitude.append(test_Dataset.get(i).get('latitude'))
data={
        'Longitude':longitude,
        'Latitude':latitude
}
geo_Data = pd.DataFrame(data)
geo_Data.head(10)

In [ ]:
locality,region = [],[]
def createDf(data): #calling function
    print(data)
test_Dataset = acc_df['address']
for i in range (0,len(test_Dataset)):
            locality.append(test_Dataset.get(i).get('addressLocality'))
            region.append(test_Dataset.get(i).get('addressRegion'))
data={
        'Locality':locality,
        'Region':region,
}
location_Data = pd.DataFrame(data)
location_Data.head(20)
location_Data.shape

In [ ]:
main_data = pd.concat([location_Data,geo_Data],axis=1)
main_data.tail(10)

In [ ]:
# we split the column geolocation to lattitude and longitude for future reference
#defining
type0 = [] 

#looping the Geo column to fetch the data
for data in acc_df["@type"]:
    type0.append(data[0]) #feath the data from first index
#placing the data in to the original dataframe as two columns and dropping the old colume geolocation
main_data['Type of Hotel'] = type0 #adding values to column
main_data['Name'] = acc_df["name"]
main_data['Url of Accomodation'] = acc_df["url"]
main_data.head(10)

In [ ]:
data7 = pd.DataFrame(list(acc_df['tags']))
data7 = data7.drop([4,5,6,7],axis=1)
data7

In [ ]:
data7.rename(columns={data7.columns[0]: 'Tag_0'},inplace=True)
data7.rename(columns={data7.columns[1]: 'Tag_1'},inplace=True)
data7.rename(columns={data7.columns[2]: 'Tag_2'},inplace=True)
data7.rename(columns={data7.columns[3]: 'Tag_3'},inplace=True)

In [ ]:
data7

In [ ]:
main_data

In [ ]:
results = pd.concat([main_data,data7],axis=1,join='inner')
results

In [ ]:
results.tail()

In [ ]:
#connecting to postgreSQL DB and creating new DB
def createDB():
    """ 
    This function will create a new database and connect to a PostgreSQL database.
    Input: Input is the SQL query to create database.
    Output: The database will be created in PostgreSQL
    """
    # Importing necessary libraries
    import psycopg2
    try:
        # Making a connection with PostgreSQL database
        dbConnection = psycopg2.connect(
            user = "dap",
            password = "dap",
            host = "localhost",
            port = "5432",
            database = "postgres")
        # Below statement is for autocommit
        dbConnection.set_isolation_level(0) 
        # Creating a DB cursor
        dbCursor = dbConnection.cursor()
        # Dropping database if already present
        dbCursor.execute("DROP DATABASE IF EXISTS accomodation;")
        # Executing SQL statement using DB cursor
        dbCursor.execute('CREATE DATABASE accomodation;')
        return dbCursor,dbConnection
    except (Exception , psycopg2.Error) as dbError :
        # Printing error if occurred while connecting to PostgreSQL database
        print ("Error while connecting to PostgreSQL", dbError)

In [ ]:
#connecting to the DB and getting the cursor
cur,conn = createDB()

In [ ]:
def deleteTable():
    sql_scrpt = "Drop table accomodation"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#creates new table
def createTable():
    sql_scrpt = "Create table IF NOT EXISTS accomodation(id serial not null,Name varchar(200),Type_of_Hotel varchar(80),Locality varchar(80),Region varchar(80),longitude DOUBLE PRECISION,latitude DOUBLE PRECISION,Url TEXT,Tag_0 varchar(80),Tag_1 varchar(80),Tag_2 varchar(80),Tag_3 varchar(80))"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#Insert new table
    
def insertData(data):
    print(len(data))
    insrt_scrpt = 'Insert into accomodation(id,Name,Type_of_Hotel,Locality,Region,longitude,latitude,Url,Tag_0,Tag_1,Tag_2,Tag_3) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cur.execute(insrt_scrpt,[data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],data[10],data[11]])
    conn.commit()

In [ ]:
# Do not run Repeatedly
'''upload only import variables for the visualization only the columns which are usefull'''
createTable()
for i in range (len(results.index)):
    value =[]
    id = i
    value.append(id)
    value.append(str(results['Name'][i]))
    value.append(str(results['Type of Hotel'][i]))
    value.append(str(results['Locality'][i]))
    value.append(str(results['Region'][i]))
    value.append(str(results['Longitude'][i]))
    value.append(str(results['Latitude'][i]))
    value.append(str(results['Url of Accomodation'][i]))
    value.append(str(results['Tag_0'][i]))
    value.append(str(results['Tag_1'][i]))
    value.append(str(results['Tag_2'][i]))
    value.append(str(results['Tag_3'][i]))
   
    insertData(value)
cur.close()
conn.close()    
print('Data is Uploaded to psgresql succesfully')

In [ ]:
#retreving the Data from the PosgreSQL
import pandas as pd
#connecting to the DB and getting the cursor
cur,conn = createDB()
ACCOMODATION = pd.read_sql('select * from accomodation', con=conn)

In [ ]:
ACCOMODATION

In [ ]:
results['Region'].describe()

In [ ]:
import matplotlib.pyplot as plt
# Region with most number of Hotels
results.Region.value_counts().plot(kind='bar')
plt.xlabel('Region')
plt.ylabel('Number of Hotels')
plt.title('Region with most number of Hotels')

In [ ]:
# Top Localities to Travel

top_10_localities = results.Locality.value_counts().sort_values(ascending=False).head(10)
top_10_localities

In [ ]:
results['Locality'].describe()

In [ ]:
#Plot null value graphs to understand the null value flow

import numpy as np
import seaborn as sns

# Plot for the top 10 countries

plt.figure(figsize=(12,6))
plt.title('Top 10 Counties with most Localities ')
sns.barplot(x=top_10_localities.index,y=top_10_localities,palette = 'Set2')

In [ ]:
fig = plt.figure(figsize=(10,7))
plt.pie(results['Region'].value_counts(),labels=results['Region'].unique(),autopct='%1.2f%%',pctdistance=0.7,labeldistance=1.2)
plt.show()

In [ ]:
Region_vs_ToH = results[(results['Region']=='Dublin') & (results['Type of Hotel'])]
Region_vs_ToH['Type of Hotel'].value_counts().plot.pie(autopct='%1.2f%%',startangle=30,pctdistance=0.5,explode=[0,0,0,0.1,0])
plt.title('Types of Accomodation Option in Dublin County')
plt.axis('equal')
plt.tight_layout()
plt.show()

In [ ]:
Region_vs_Locality = results[(results['Region']=='Wicklow') & (results['Locality'])]
Region_vs_Locality['Locality'].value_counts().plot.pie(autopct='%1.2f%%',startangle=30,pctdistance=0.5)
plt.title('Localitites to Visit in Wicklow')
plt.axis('equal')
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import cufflinks as cf
from chart_studio import plotly
import plotly.offline as pyoff
import plotly.graph_objs as go

In [ ]:
# Make Plotly work in your Jupyter Notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
# Use Plotly locally
cf.go_offline()

In [ ]:
df_1=results.Region.value_counts()
# Compare old plots to a Plotly interactive plot
# You can save as PNG, Zoom, Pan, Turn off & on Data and more

df_1.iplot()

In [ ]:
# Allows us to create graph objects for making more customized plots
import plotly.graph_objects as go
import plotly.express as px
# Make multiple line plots
px.line(top_10_localities, x=top_10_localities.index, y=top_10_localities, labels={'x':'Localities ', 'y':'Count'},
       title='Top 10 Cities with most Localities')

In [ ]:
# Top Localities to Travel

top_10_Region = results.Region.value_counts().sort_values(ascending=False).head(10)
top_10_Region
fig = px.bar(results,x=top_10_Region.index,y=top_10_Region,title='Top 10 Region with most number of Accomodation Options',labels={'x':'Region ', 'y':'Count of Accomodation optios'})
fig.update_layout(title_x=0.5)

In [ ]:
df_dublin = results[(results['Region']=='Dublin') & (results['Locality'])]
df_dublin
fig = px.bar(y=df_dublin['Type of Hotel'], x=df_dublin['Locality'], color=df_dublin['Type of Hotel'],title='Types of Accomodation Available in Each Locality of Dublin',labels={'x': 'Dublin ', 'y':'Hotels Count in each Locality of Dublin'})
# Set fontsize and uniformtext_mode='hide' says to hide the text if it won't fit
fig.update_layout(uniformtext_minsize=8)
# Rotate labels 45 degrees
fig.update_layout(xaxis_tickangle=-45)
fig.update_layout(title_x=0.5)

In [ ]:

fig = px.bar_polar(results,r=results['Type of Hotel'], theta=results['Region'], color=results['Type of Hotel'],color_discrete_sequence=px.colors.qualitative.G10,title='Types of Accomodation Available in Each Locality of Dublin')
fig.show()

In [ ]:
#Using Plotly Mapbox to visualize scatter data of Attractions in each Region
fig = px.scatter_mapbox(results, lat="Latitude", lon="Longitude",
                        hover_name="Name", hover_data=["Locality", "Region"],
                        zoom=10, height=500, width=800, mapbox_style="open-street-map")
fig.show()

In [ ]:
# Trial Code
# Used for trial
geo = results[(results['Region']==region) & (results['Type of Hotel'])]
geo = results.groupby(['Region','Type of Hotel'])['Type of Hotel'].count()
geo = pd.DataFrame(geo)
geo.set_axis(["Count"],axis='columns',inplace=True)
geo

In [ ]:

df_x = results[(results['Region']==region) & (results['Type of Hotel'])]
df_x = results.groupby(['Region','Type of Hotel'])['Type of Hotel'].count()
df_x = pd.DataFrame(geo)
df_x = results.pivot_table(index = ['Region','Type of Hotel'], aggfunc ='size')
df_x = df_x.reset_index()
df_x.columns.values[2] = 'Count'
df_x = df_x.tail(-1) 
df_x.head(25)

In [ ]:
#Using Plotly Mapbox to visualize Choropleth data of Attractions in each Region
county_data = open('Ireland_Counties.geojson.txt',encoding="utf8")
counties = json.load(county_data)
fig = px.choropleth_mapbox(df_x, geojson=counties, locations=df_x['Region'],hover_name=df_x['Type of Hotel'],color=df_x['Type of Hotel'],
                           color_continuous_scale="Viridis",     
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'Region':'Region'})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
county_data.close

In [ ]:
fig = px.pie(df_x,values=df_x['Count'],names=df_x['Region'])
fig.show()

In [ ]:
# With a scatter matrix we can compare changes when comparing column data
fig = px.scatter_matrix(df_x, color=df_x['Region'])
fig

In [ ]:
Geo_region = results.pivot_table(index = ['Region'], aggfunc ='size')
Geo_region = Geo_region.reset_index()
Geo_region = Geo_region.drop([0])
Geo_region.columns.values[1]="Count"
Geo_region.head(10)

In [ ]:
#Using Plotly Mapbox to visualize Choropleth data of Attractions in each Region
county_data = open('Ireland_Counties.geojson.txt',encoding="utf8")
counties = json.load(county_data)
fig = px.choropleth_mapbox(Geo_region, geojson=counties, locations=Geo_region['Region'], color=Geo_region['Count'],
                           color_continuous_scale="Rainbow",
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'Region':'County'},title='Count of Localities in Each County')
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
county_data.close

In [ ]:
#Using Plotly Mapbox to visualize scatter data of Attractions in each Region
fig = px.scatter_mapbox(results, lat="Latitude", lon="Longitude",color=results['Type of Hotel'],
                        hover_name="Name", hover_data=["Type of Hotel","Locality"],color_discrete_sequence=px.colors.qualitative.G10,
                        title="Type of Accomodation in Various Region using Plotly",
                        zoom=10, height=500, width=800, mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

# Aniket

In [ ]:

act_df = pd.DataFrame(list(acti_data.find())) #placing all in one DF
no_id=True
if no_id:
    del act_df['_id']
# Shape of the data frame 
act_df.shape

In [ ]:
act_df.head(2)

## Cleaning the above data frame 
### Based on GEO, Address and Type
1. geo 
2. Address 
3. Type of Place 
4. Activity offered by that particular place

In [ ]:
longitude,latitude =[],[]
geo_=pd.DataFrame(columns=['Longitude','Latitude'])
a=act_df['geo']
for i in range (0,len(a)):
    longitude.append(a.get(i).get('longitude'))
    latitude.append(a.get(i).get('latitude'))
geo_['Longitude']=longitude
geo_['Latitude']=latitude

In [ ]:
Locality,Region=[],[]
address_df=pd.DataFrame(columns=['Locality','Region'])
b=act_df['address']
for i in range (0,len(b)):
    Locality.append(b.get(i).get('addressLocality'))
    Region.append(b.get(i).get('addressRegion'))
address_df['Locality']=Locality
address_df['Region']=Region

In [ ]:
# we split the column geolocation to lattitude and longitude for future reference
#defining
type1= [] 
type_of_place=pd.DataFrame(columns=['Type of Venue'])
#looping the Geo column to fetch the data
for data in act_df["@type"]:
    if len(data) >= 2:
        type1.append(data[1])
    else:
        type1.append(data[0])
type_of_place['Type of Venue'] = type1

In [ ]:
#### Makeing a data frame for Tags which is nothing but the Activity that is present in the Places

In [ ]:
Activities=[]
df_act=pd.DataFrame(columns=['Activities'])
for sublist in act_df['tags']:
    a=sublist.pop(0)
    a=', '.join(sublist)
    Activities.append(a)
df_act['Activities']=Activities

In [ ]:
tags=act_df['tags'].apply(lambda x:{t:True for t in x})
df_tags=tags.apply(pd.Series).fillna(False)

In [ ]:
df_tags

In [ ]:
# checking the unique values of the Activity offerd by the venues that are spread All over Ireland 
unique_activitis=[]
for i in df_tags.columns:
    unique_activitis.append(i)
print(unique_activitis)

### Creating groups of the Activity 
1. Outdoor Adventures: Kayaking, Walking, Cycling, Fishing, Angling, Climbing, Bird Watching, Kitesurfing, Windsurfing, Zip Lining, day tour , tour , boat 

2. Cultural Exploration: Museums and Attractions, Historic Houses and Castles, Church Abbey, Monastery, Abbeys and Monastery, Ruins, Art Gallery, Literary Ireland, Discovery Point, Tracing Your Ancestors, Traditional Irish, Music,Venue, Castle

3. Food and Drink: Restaurant, Local Produce, Cafe, Pubs and Bars, Seafood, Cooking, Cookery, Vegetarian, Vegan, Artisan, Fast Food, Food Trails and Tour, Fine Dining, Banquet

4. Accommodation: Self Catering Accommodation, B&B, Camping, Glamping, Activity Holiday Accommodation, Welcome Standard

5. Sports and Recreation: Golf, Gaa, Horse Riding, Equestrian, Sailing, Marinas, Stadium, Sports Venue, Pitch And Putt, National Park, National and Forest Park, Swimming, Swimming Pools and Water Park, Fitness and Leisure, Swimming Pool, Golf Driving Range, Adventure Park, Falconry, Surfing

6. Shopping and Craft: Shopping Centres and Department Store, Food Shops, Craft

7. Wellness and Pampering: Health Farm, Spa and Wellness, Specialised Retreat

8. Nature and Wildlife: Agriculture, Nature and Wildlife, Gardening, Natural Landscape, Photography, Gardens, River, Island, Offshore Island, Public Park, Public Sculpture, Zoos and Aquariums
9. Transportation and Travel:'Bike Rental', 'Transport', 'Coach', 'Road','Driving Range'

In [ ]:
df_tags.drop(columns=['Attraction','Standard','General', 'Self Catering Accommodation','Follow the Shamrock', 'Accommodation','Activity','Activity Operator','Vegan','Day Tour','Comedy','Learning'],inplace=True)

In [ ]:
Outdoor_Adventures_columns = ['Kayaking', 'Walking','Cruising','Marina', 'Cycling', 'Fishing', 'Angling', 'Climbing', 'Bird Watching', 'Kitesurfing','Zip Lining','Tour', 'Boat','Windsurfing']
df_tags['Outdoor Adventures'] = df_tags[Outdoor_Adventures_columns].any(axis=1)
df_tags.drop(columns=Outdoor_Adventures_columns, inplace=True)

In [ ]:
Cultural_Exploration_columns = [ 'Venue', 'Castle','Historic Houses and Castle','Churches','Church Abbey', 'Museums and Attraction','Monastery', 'Abbeys and Monastery', 'Ruins', 'Art Gallery', 'Literary Ireland','Discovery Point','Tracing Your Ancestors','Music','Traditionally Irish','Movies', 'Cinema']
df_tags['Cultural Exploration'] = df_tags[Cultural_Exploration_columns].any(axis=1)
df_tags.drop(columns=Cultural_Exploration_columns, inplace=True)

In [ ]:
Food_and_Drink_columns = ['Casinos', 'Pubs and Bar','B&B','Cafe','Restaurant', 'Local Produce',  'Seafood', 'Cooking', 'Cookery', 'Vegetarian', 'Artisan', 'Fast Food', 'Food Trails and Tour', 'Fine Dining', 'Banquet']
df_tags['Food and Drink'] = df_tags[Food_and_Drink_columns].any(axis=1)
df_tags.drop(columns=Food_and_Drink_columns, inplace=True)

In [ ]:
Accommodation_columns = [ 'Camping', 'Glamping', 'Activity Holiday Accommodation', 'Welcome Standard' ]
df_tags['Accommodation'] = df_tags[Accommodation_columns].any(axis=1)
df_tags.drop(columns=Accommodation_columns, inplace=True)

In [ ]:
Sports_and_Recreation_columns = ['Golf','Pitch and Putt','Forest Park', 'Park and Forest Walk','Garden', 'Gaa','Sports Venues', 'Horse Riding', 'Equestrian', 'Sailing', 'Stadium', 'Sports Venue', 'Pitch And Putt', 'National Park', 'National and Forest Park', 'Swimming', 'Swimming Pools and Water Park', 'Fitness and Leisure', 'Swimming Pool', 'Golf Driving Range', 'Adventure Park', 'Falconry', 'Surfing']
df_tags['Sports and Recreation'] = df_tags[Sports_and_Recreation_columns].any(axis=1)
df_tags.drop(columns=Sports_and_Recreation_columns, inplace=True)

In [ ]:
Shopping_and_Craft_columns = [ 'Shopping Centres and Department Store', 'Food Shops', 'Craft','Shopping']
df_tags['Shopping and Craft'] = df_tags[Shopping_and_Craft_columns].any(axis=1)
df_tags.drop(columns=Shopping_and_Craft_columns, inplace=True)

In [ ]:
Wellness_and_Pampering_columns = [ 'Health Farm', 'Spa and Wellness', 'Specialised Retreat','Spa','Pampering']
df_tags['Wellness and Pampering'] = df_tags[Wellness_and_Pampering_columns].any(axis=1)
df_tags.drop(columns=Wellness_and_Pampering_columns, inplace=True)

In [ ]:
Nature_and_Wildlife_columns = ['Agriculture','Beach','Visitor Farm', "Ireland's Hidden Hearthlands", 'Gardening', 'Natural Landscape', 'Photography', 'Gardens', 'River', 'Island', 'Offshore Island', 'Public Park', 'Public Sculpture','Zoos and Aquarium' ]
df_tags['Nature and Wildlife'] = df_tags[Nature_and_Wildlife_columns].any(axis=1)
df_tags.drop(columns=Nature_and_Wildlife_columns, inplace=True)

In [ ]:
Transportation_and_Travel_columns = ['Bike Rental', 'Transport', 'Coach', 'Road','Driving Range','Race Course','Embarkation Point' ]
df_tags['Transportation and Travel'] = df_tags[Transportation_and_Travel_columns].any(axis=1)
df_tags.drop(columns=Transportation_and_Travel_columns, inplace=True)

In [ ]:
df_tags.columns

## Concating All the seperate data frame to make the clean data frame

In [ ]:
main_df=pd.concat([act_df['name'],geo_,address_df,type_of_place,df_act,df_tags],axis=1)
main_df.rename(columns={'name': 'Name', 'longitude': 'Longitude', 'latitude': 'Latitude'}, inplace=True)

In [ ]:
main_df.columns

In [ ]:
#connecting to postgreSQL DB and creating new DB
def createDB():
    """ 
    This function will create a new database and connect to a PostgreSQL database.
    Input: Input is the SQL query to create database.
    Output: The database will be created in PostgreSQL
    """
    # Importing necessary libraries
    import psycopg2
    try:
        # Making a connection with PostgreSQL database
        dbConnection = psycopg2.connect(
            user = "postgres",
            password = "dap",
            host = "localhost",
            port = "5433",
            database = "postgres")
        # Below statement is for autocommit
        dbConnection.set_isolation_level(0) 
        # Creating a DB cursor
        dbCursor = dbConnection.cursor()
        # Dropping database if already present
        dbCursor.execute("DROP DATABASE IF EXISTS accomodation;")
        # Executing SQL statement using DB cursor
        dbCursor.execute('CREATE DATABASE accomodation;')
        return dbCursor,dbConnection
    except (Exception , psycopg2.Error) as dbError :
        # Printing error if occurred while connecting to PostgreSQL database
        print ("Error while connecting to PostgreSQL", dbError)

In [ ]:
#connecting to the DB and getting the cursor
cur,conn = createDB()

In [ ]:
def deleteTable():
    sql_scrpt = "Drop table activities_db"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#creates new table
def createTable():
    sql_scrpt = "Create table IF NOT EXISTS activities_db(id serial not null,Name varchar(260),Type_of_Venue varchar(80),Locality varchar(80),Region varchar(80),longitude DOUBLE PRECISION,latitude DOUBLE PRECISION,Food_and_Drink boolean, Nature_and_Wildlife boolean, Outdoor_Adventures boolean, Cultural_Exploration boolean, Accommodation boolean ,  Sports_and_Recreation boolean ,Shopping_and_Craft boolean, Wellness_and_Pampering boolean,Transportation_and_Travel boolean )"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#Insert new table
    
def insertData(data):
    insrt_scrpt ='insert into activities_Db(id, Name, Type_of_Venue, Locality, Region, longitude, latitude, Food_and_Drink,Nature_and_Wildlife, Outdoor_Adventures, Cultural_Exploration, Accommodation, Sports_and_Recreation, Shopping_and_Craft, Wellness_and_Pampering, Transportation_and_Travel) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cur.execute(insrt_scrpt,[data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],data[10],data[11],data[12],data[13],data[14],data[15]])
    conn.commit()

In [ ]:
# Do not run Repeatedly
'''upload only import variables for the visualization only the columns which are usefull'''
deleteTable()
createTable()
for i in range (len(main_df.index)):
    value =[]
    id = i
    value.append(id)
    value.append(str(main_df['Name'][i]))
    value.append(str(main_df['Type of Venue'][i]))
    value.append(str(main_df['Locality'][i]))
    value.append(str(main_df['Region'][i]))
    value.append(str(main_df['Longitude'][i]))
    value.append(str(main_df['Latitude'][i]))
    value.append(str(main_df['Food and Drink'][i]))
    value.append(str(main_df['Nature and Wildlife'][i]))
    value.append(str(main_df['Outdoor Adventures'][i]))
    value.append(str(main_df['Cultural Exploration'][i]))
    value.append(str(main_df['Accommodation'][i]))
    value.append(str(main_df['Sports and Recreation'][i]))
    value.append(str(main_df['Shopping and Craft'][i]))
    value.append(str(main_df['Wellness and Pampering'][i]))
    value.append(str(main_df['Transportation and Travel'][i]))
    
   
    insertData(value)
cur.close()
conn.close()    
print('Data is Uploaded to psgresql succesfully')

In [ ]:
#retreving the Data from the PosgreSQL
import pandas as pd
#connecting to the DB and getting the cursor
cur,conn = createDB()
activities_data = pd.read_sql('select * from activities_Db', con=conn)

In [ ]:
activities_data.head()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

plt.figure(figsize=(15, 5))

sns.heatmap(main_df.isnull())

plt.xlabel("Features", size=14, weight="bold")

plt.title("columns having missing data",fontweight="bold",size=12)

plt.show()

# Visualisation

# 1. Places that present on all over ireland and types of Activities  that they offer

In [ ]:
import plotly.express as px
#Using Plotly Mapbox to visualize scatter data of Attractions in each Region
fig = px.scatter_mapbox(main_df, lat="Latitude", lon="Longitude",color='Type of Venue',
                        hover_name="Name", hover_data=["Locality", "Region","Activities"],
                        zoom=10, height=500, width=800, mapbox_style="open-street-map")
fig.show()

## 2. Top 10 County   by number of  Activity venue

In [ ]:
Places=pd.concat([main_df['Name'],main_df['Region']],axis=1)
places_count=Places.groupby('Region').count().reset_index().drop([0])
places_count.rename(columns={'Region':'County','Name':'Number of Venue'},inplace=True)

In [ ]:
top_10_region=places_count.sort_values(by='Number of Venue',ascending=False).head(10)
top_10_region

In [ ]:
import plotly.express as px
fig = px.pie(top_10_region, values='Number of Venue', names='County', title='Top 10 Region in Ireland as per Number of Venues')
fig.show()

In [ ]:
 px.bar(top_10_region,x='County',y='Number of Venue', color='Number of Venue',
        title='Top 10 Region with most number of Activity places ',labels={'x':'County ', 'y':'Number of Venue'})

# LOCALITY

In [ ]:
#loality  by number of venues 
Places=pd.concat([main_df['Name'],main_df['Locality']],axis=1)
places_count=Places.groupby('Locality').count().reset_index().drop([0])
places_count.rename(columns={'Locality':'Locality','Name':'Number of Venue'},inplace=True)

In [ ]:
top_10_locality=places_count.sort_values(by='Number of Venue',ascending=False).head(10)

In [ ]:
px.bar(top_10_locality,x='Locality',y='Number of Venue', color='Number of Venue',
        title='Top 10 Locality with most number of Activity places ',labels={'x':'Locality', 'y':'Number of Venue'})

# DUBLIN

### 1.Types of Venues for Activities Present in Dublin

In [ ]:
# Types of places in dublin 
df_dub = main_df.query("Region=='Dublin'")

In [ ]:
# Types of Venues present in dublin 
data=df_dub[['Type of Venue']].value_counts()
df_dublin_typesofvenue=pd.DataFrame(data).reset_index()
df_dublin_typesofvenue.rename(columns={0:'Count'},inplace=True)
df_dublin_typesofvenue.head(2)

In [ ]:
fig = px.pie(df_dublin_typesofvenue, values='Count', names='Type of Venue', title='Types of Venues for Activities Present in Dublin')
fig.show()

## 2.Types of Activities  in Dublin

In [ ]:
df_dublin_activities=df_dub.groupby('Region').sum().reset_index().drop(columns=['Longitude','Latitude','Accommodation'],axis=1).T
df_plt=df_dublin_activities.reset_index().drop([0]).rename(columns={'index':'Types Of Activities',0:'Count'})
df_plt

In [ ]:
fig = px.pie(df_plt, values='Count', names='Types Of Activities', title='Types of Activities Present in Dublin')
fig.show()

### 3.Types of Activity loacation  in Each Locality of Dublin with count

In [ ]:
df_1=df_dub.groupby(['Type of Venue', 'Locality'])[['Type of Venue']].count()
df_1.set_axis(['Count'],axis='columns',inplace=True)
df_1

In [ ]:
df2=df_dub.pivot_table(index = ['Locality','Type of Venue'], aggfunc ='size').reset_index()
df2.columns.values[2] = 'Count'
df2.head(5)

In [ ]:
fig = px.bar(y=df2['Count'], x=df2['Locality'], color=df2['Type of Venue'],title='Types of Activity loacation  in Each Locality of Dublin with count',labels={'x': 'Dublin ', 'y':'Count'})
# Set fontsize and uniformtext_mode='hide' says to hide the text if it won't fit
fig.update_layout(uniformtext_minsize=8)
# Rotate labels 45 degrees
fig.update_layout(xaxis_tickangle=-45)
fig.update_layout(title_x=0.5)

#  Activities By County

In [ ]:
df1=main_df.drop(columns=['Longitude', 'Latitude','Type of Venue'])
df2=df1.groupby('Region').sum().reset_index().drop([0])

In [ ]:
df2['Total Number of Activities By Region'] = df2.sum(axis=1)

In [ ]:
df2.head()

In [ ]:
import json 
data = open('Ireland_Counties.geojson', encoding='utf-8')
geojson=json.load(data)

fig = px.choropleth_mapbox(df2, geojson=geojson, locations='Region',color='Total Number of Activities By Region',hover_name="Region", hover_data=['Food and Drink', 'Nature and Wildlife', 'Outdoor Adventures',
       'Cultural Exploration', 'Accommodation', 'Sports and Recreation',
       'Shopping and Craft', 'Wellness and Pampering',
       'Transportation and Travel']
                           ,mapbox_style="carto-positron",center={"lat": 53.8278441, "lon": -9.6308032}
,zoom=5,opacity=0.5)
fig.show()

### Top 10 Region By different type of Activity loaction in Ireland

In [ ]:
top_10=df2.sort_values(by='Total Number of Activities By Region',ascending=False).head(10)

In [ ]:
top_10

In [ ]:
px.bar(top_10,x='Region',y='Total Number of Activities By Region', color='Total Number of Activities By Region',
        title='Top 10 Locality with most number of Activity places ',labels={'x':'Region', 'y':'Total Number of Activities By Region'})

## Final merged dataset

In [ ]:
main_df.columns

In [ ]:
attraction_df.columns

In [ ]:
# Merge the accommodation and attraction dataframes on common columns
merged_df1 = pd.merge(main_df, attraction_df, on=['Name', 'Locality', 'Latitude', 'Longitude', 'Region'], how='outer')

In [ ]:
merged_df1.head()

In [ ]:
results.head()

In [ ]:
# Merge the resulting dataframe with the activities dataframe on common columns
merged_df2 = pd.merge(merged_df1, results, on=['Name', 'Locality', 'Latitude', 'Longitude', 'Region'], how='outer')

In [ ]:
merged_df2.columns

In [ ]:

merged_df2[['Type of Venue', 'Activities', 'Food and Drink', 'Nature and Wildlife', 'Outdoor Adventures', 'Cultural Exploration', 'Accommodation', 'Sports and Recreation', 'Shopping and Craft', 'Wellness and Pampering', 'Transportation and Travel', 'Type of Attraction', 'Activity', 'Attraction', 'Gardening', 'Learning', 'Castle', 'Photography', 'Walking', 'Art Gallery', 'Tour', 'Embarkation Point', 'Public Park', 'Transport', 'Island', 'Offshore Island', 'Coach', 'Road', 'Discovery Point', 'Day Tour', 'Artisan', 'Marina', 'Pampering', 'Health Farm', 'Spa and Wellness', 'Specialised Retreat', 'Spa', 'Bike Rental', 'Culture and History', 'Nature and Wildlifes', 'Food and Drinks', 'Sports and Adventure', 'Entertainment', 'Outdoor Water Activities', 'Type of Hotel', 'Url of Accomodation', 'Tag_0', 'Tag_1', 'Tag_2', 'Tag_3']] = merged_df2[['Type of Venue', 'Activities', 'Food and Drink', 'Nature and Wildlife', 'Outdoor Adventures', 'Cultural Exploration', 'Accommodation', 'Sports and Recreation', 'Shopping and Craft', 'Wellness and Pampering', 'Transportation and Travel', 'Type of Attraction', 'Activity', 'Attraction', 'Gardening', 'Learning', 'Castle', 'Photography', 'Walking', 'Art Gallery', 'Tour', 'Embarkation Point', 'Public Park', 'Transport', 'Island', 'Offshore Island', 'Coach', 'Road', 'Discovery Point', 'Day Tour', 'Artisan', 'Marina', 'Pampering', 'Health Farm', 'Spa and Wellness', 'Specialised Retreat', 'Spa', 'Bike Rental', 'Culture and History', 'Nature and Wildlifes', 'Food and Drinks', 'Sports and Adventure', 'Entertainment', 'Outdoor Water Activities', 'Type of Hotel', 'Url of Accomodation', 'Tag_0', 'Tag_1', 'Tag_2', 'Tag_3']].fillna(value=False)

In [ ]:
merged_df2.tail()

In [ ]:
count1 = merged_df2['Type of Hotel'].value_counts()
count2 = merged_df2['Type of Venue'].value_counts()
count3 = merged_df2['Type of Attraction'].value_counts()
print(count1)
print(count2)
print(count3)

In [ ]:
fig = px.bar(merged_df2, x='Region', y='Value', color='Type of Hotel', barmode='group')
fig.show()