## DATABASE & ANALYTICS PROGRAMMING
### Irelands accommodation activities and attractions data visualization

In [1]:
#Import all the required librabries
import urllib.request
from pymongo import MongoClient
import json
import pymongo
import numpy as np
import pandas as pd

## Fetch all the required data from the web

In [ ]:
#created function with "name" as API call request type name and "number" as the pages
def get_all_details(name,number):
    #total data in activities=6115,accommodation=2397,attractions=1556
    base_url = "https://failteireland.azure-api.net/opendata-api/v1/{}subscription-key=&search=*&$skip={}"
    acc_url = base_url.format(name, number)
    
    try:
        with urllib.request.urlopen(acc_url) as response:
            
            return json.load(response)
    except urllib.error.URLError as e:
        print("The API URL is invalid."+e)
    except json.JSONDecodeError:
        print("Error decoding JSON response")
        return {}

In [2]:
#remote mongoDB
client = MongoClient("mongodb+srv://AdminDap:admin003@cluster3.oqbqjxz.mongodb.net/test")
client.test
db = client['dap_project']
acc_data = db['accommodation-collection']
attrac_data = db['attractions-collection']
acti_data = db['activities-collection']

In [ ]:
def upload_data(data_type,ALL_DATA):
    if data_type =="accommodation" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acc_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="attractions" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            attrac_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="activities" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acti_data.insert_one(ALL_DATA["results"][i])

In [ ]:
for dat in np.arange(0,2400,50):
    print(dat)
    upload_data("accommodation",get_all_details("accommodation?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,1600,50):
    print(dat)
    upload_data("attractions",get_all_details("attractions?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,6150,50):
    print(dat)
    upload_data("activities",get_all_details("activities?",dat))
    time.sleep(10)

In [3]:

attraction_df = pd.DataFrame(list(attrac_data.find()))
attraction_df.shape

(1506, 10)

In [4]:
attraction_df.head()

,_id,@context,@type,name,url,geo,telephone,address,image,tags
0,64342a803594cb2a7438641e,http://schema.org,"[LocalBusiness, Museum]",Michael J Quill Centre,http://www.historic-ireland.com/places/778.html,"{'@type': 'GeoCoordinates', 'longitude': -9.46...",+353646685511,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Attraction, Museums and Attraction]"
1,64342a803594cb2a7438641f,http://schema.org,"[LocalBusiness, FoodEstablishment, TravelAgenc...",Sonairte The National Ecology Centre,http://www.sonairte.ie,"{'@type': 'GeoCoordinates', 'longitude': -6.25...",+353419827572,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Agriculture, Nature and Wildlife, F..."
2,64342a813594cb2a74386420,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Clonmore Castle,http://www.megalithicireland.com/Clonmore%20Ca...,"{'@type': 'GeoCoordinates', 'longitude': -6.57...",,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Castle, Attraction, Historic Houses..."
3,64342a813594cb2a74386421,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Dún Na Séad Castle,https://www.baltimorecastle.ie/,"{'@type': 'GeoCoordinates', 'longitude': -9.37...",+3532820735,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Attraction, Historic Houses and Cas..."
4,64342a813594cb2a74386422,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Conna Castle,https://www.castles.nl/conna-castle,"{'@type': 'GeoCoordinates', 'longitude': -8.10...",+353862149601,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Castle, Attraction, Historic Houses..."

In [5]:

df = pd.json_normalize(list(attrac_data.find()),max_level=1)
df = df.drop(["_id","@context", "url", "image.@type", "image.caption", "image.url", "geo.@type", "address.@type", "telephone"], axis=1)

# flatten @type and tags data
df['@type'] = df['@type'].apply(lambda x: {t: True for t in x})
df['tags'] = df['tags'].apply(lambda x: {t: True for t in x})

# convert @type and tags columns to separate columns with boolean values
df = pd.concat([df.drop(['@type', 'tags'], axis=1), df['@type'].apply(pd.Series).fillna(False), df['tags'].apply(pd.Series).fillna(False)], axis=1)
df = df.rename(columns={
    "name": "Name",
    "geo.longitude": "Longitude",
    "geo.latitude": "Latitude",
    "address.addressLocality": "Locality",
    "address.addressRegion": "Region",
    "address.addressCountry": "Country"
})
df.head()

,Name,Longitude,Latitude,Locality,Region,Country,LocalBusiness,Museum,FoodEstablishment,TravelAgency,...,Cookery,Adventure Park,Zip Lining,Marina,Pampering,Health Farm,Spa and Wellness,Specialised Retreat,Spa,Bike Rental
0,Michael J Quill Centre,-9.461430,51.902656,Kilgarvan,Kerry,Republic of Ireland,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Sonairte The National Ecology Centre,-6.257022,53.678076,Laytown,Meath,Republic of Ireland,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Clonmore Castle,-6.575125,52.828286,Clonmore,Carlow,Republic of Ireland,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Dún Na Séad Castle,-9.373102,51.483571,Baltimore,Cork,Republic of Ireland,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Conna Castle,-8.101655,52.094521,Conna,Cork,Republic of Ireland,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False