## DATABASE & ANALYTICS PROGRAMMING
### Irelands accommodation activities and attractions data visualization

In [1]:
#Import all the required librabries
!pip install "pymongo[srv]"
import urllib.request
from pymongo import MongoClient
import json
import pymongo
import numpy as np
import pandas as pd

## Fetch all the required data from the web

In [79]:
#created function with "name" as API call request type name and "number" as the pages
def get_all_details(name,number):
    #total data in activities=6115,accommodation=2397,attractions=1556
    base_url = "https://failteireland.azure-api.net/opendata-api/v1/{}subscription-key=&search=*&$skip={}"
    acc_url = base_url.format(name, number)
    
    try:
        with urllib.request.urlopen(acc_url) as response:
            
            return json.load(response)
    except urllib.error.URLError as e:
        print("The API URL is invalid."+e)
    except json.JSONDecodeError:
        print("Error decoding JSON response")
        return {}

In [4]:
#remote mongoDB
client = MongoClient("mongodb+srv://AdminDap:admin003@cluster3.oqbqjxz.mongodb.net/test")
client.test
db = client['dap_project']
acc_data = db['accommodation-collection']
attrac_data = db['attractions-collection']
acti_data = db['activities-collection']

In [ ]:
def upload_data(data_type,ALL_DATA):
    if data_type =="accommodation" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acc_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="attractions" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            attrac_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="activities" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acti_data.insert_one(ALL_DATA["results"][i])

In [ ]:
for dat in np.arange(0,2400,50):
    print(dat)
    upload_data("accommodation",get_all_details("accommodation?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,1600,50):
    print(dat)
    upload_data("attractions",get_all_details("attractions?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,6150,50):
    print(dat)
    upload_data("activities",get_all_details("activities?",dat))
    time.sleep(10)

In [5]:
attraction_df = pd.json_normalize(list(attrac_data.find()),max_level=1)
attraction_df.head()

,_id,@context,@type,name,url,telephone,tags,geo.@type,geo.longitude,geo.latitude,address.@type,address.addressLocality,address.addressRegion,address.addressCountry,image.@type,image.caption,image.url
0,64342a803594cb2a7438641e,http://schema.org,"[LocalBusiness, Museum]",Michael J Quill Centre,http://www.historic-ireland.com/places/778.html,+353646685511,"[Activity, Attraction, Museums and Attraction]",GeoCoordinates,-9.461430,51.902656,PostalAddress,Kilgarvan,Kerry,Republic of Ireland,ImageObject,Fáilte Ireland Logo,https://failtecdn.azureedge.net/failteireland/...
1,64342a803594cb2a7438641f,http://schema.org,"[LocalBusiness, FoodEstablishment, TravelAgenc...",Sonairte The National Ecology Centre,http://www.sonairte.ie,+353419827572,"[Activity, Agriculture, Nature and Wildlife, F...",GeoCoordinates,-6.257022,53.678076,PostalAddress,Laytown,Meath,Republic of Ireland,ImageObject,Fáilte Ireland Logo,https://failtecdn.azureedge.net/failteireland/...
2,64342a813594cb2a74386420,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Clonmore Castle,http://www.megalithicireland.com/Clonmore%20Ca...,,"[Activity, Castle, Attraction, Historic Houses...",GeoCoordinates,-6.575125,52.828286,PostalAddress,Clonmore,Carlow,Republic of Ireland,ImageObject,Fáilte Ireland Logo,https://failtecdn.azureedge.net/failteireland/...
3,64342a813594cb2a74386421,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Dún Na Séad Castle,https://www.baltimorecastle.ie/,+3532820735,"[Activity, Attraction, Historic Houses and Cas...",GeoCoordinates,-9.373102,51.483571,PostalAddress,Baltimore,Cork,Republic of Ireland,ImageObject,Fáilte Ireland Logo,https://failtecdn.azureedge.net/failteireland/...
4,64342a813594cb2a74386422,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Conna Castle,https://www.castles.nl/conna-castle,+353862149601,"[Activity, Castle, Attraction, Historic Houses...",GeoCoordinates,-8.101655,52.094521,PostalAddress,Conna,Cork,Republic of Ireland,ImageObject,Fáilte Ireland Logo,https://failtecdn.azureedge.net/failteireland/...

In [ ]:
attraction_df = attraction_df.drop(["_id","@context", "url", "image.@type", "image.caption", "image.url", "geo.@type", "address.@type", "telephone", "address.addressCountry"], axis=1)
# flatten tags data with true
attraction_df['tags'] = attraction_df['tags'].apply(lambda x: {t: True for t in x})

In [ ]:
attraction_type = [] 

#looping the type column to fetch the data
for data in attraction_df["@type"]:
    attraction_type.append(data[1]) #feath the data from second index
#placing the data in to the original dataframe as two columns and dropping the old colume geolocation
attraction_df['Type of Attraction'] = attraction_type #adding values to column
attraction_df.drop(columns=['@type'], inplace=True)

In [6]:
df1 =attraction_df

df_tags = pd.concat([df1.drop(['tags', 'name', 'geo.longitude', 'geo.latitude', 'address.addressRegion', 'address.addressLocality'], axis=1), df1['tags'].apply(pd.Series).fillna(False)], axis=1)

In [7]:
attraction_df = pd.concat([attraction_df.drop(['tags'], axis=1), attraction_df['tags'].apply(pd.Series).fillna(False)], axis=1)

In [8]:
attraction_df = attraction_df.rename(columns={"name": "Name",
                        "geo.longitude": "Longitude",
                        "geo.latitude": "Latitude",
                        "address.addressLocality": "Locality",
                        "address.addressRegion": "County"})

In [9]:
attraction_df.head()

,@type,Name,Longitude,Latitude,Locality,County,Activity,Attraction,Museums and Attraction,Agriculture,...,Cookery,Adventure Park,Zip Lining,Marina,Pampering,Health Farm,Spa and Wellness,Specialised Retreat,Spa,Bike Rental
0,"[LocalBusiness, Museum]",Michael J Quill Centre,-9.461430,51.902656,Kilgarvan,Kerry,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,"[LocalBusiness, FoodEstablishment, TravelAgenc...",Sonairte The National Ecology Centre,-6.257022,53.678076,Laytown,Meath,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
2,"[LocalBusiness, TouristAttraction, LandmarksOr...",Clonmore Castle,-6.575125,52.828286,Clonmore,Carlow,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,"[LocalBusiness, TouristAttraction, LandmarksOr...",Dún Na Séad Castle,-9.373102,51.483571,Baltimore,Cork,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,"[LocalBusiness, TouristAttraction, LandmarksOr...",Conna Castle,-8.101655,52.094521,Conna,Cork,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df_tags.columns

In [ ]:
culture_history_columns = ['Museums and Attraction', 'Historic Houses and Castle', 'Ruins', 'Church Abbey', 'Monastery', 'Churches', 'Abbeys and Monastery', 'Literary Ireland', 'Craft', 'Tracing Your Ancestors', 'Traditionally Irish', 'Public Sculpture']
attraction_df['Culture and History'] = attraction_df[culture_history_columns].any(axis=1)
attraction_df.drop(columns=culture_history_columns, inplace=True)

In [ ]:
nature_wildlife_columns = ['Agriculture', 'Nature and Wildlife', 'Natural Landscape', 'Gardens', 'Garden', 'Forest Park', 'Park and Forest Walk', 'National Park', 'National and Forest Park', 'Bird Watching', 'Zoos and Aquarium', 'Visitor Farm','Ireland\'s Hidden Hearthlands']
attraction_df['Nature and Wildlifes'] = attraction_df[nature_wildlife_columns].any(axis=1)
attraction_df.drop(columns=nature_wildlife_columns, inplace=True)

In [ ]:
food_drink_columns = ['Food and Drink', 'Restaurant', 'Cafe', 'Local Produce', 'Food Shops', 'Vegan', 'Vegetarian', 'Seafood', 'Cooking', 'Cookery', 'Food Trails and Tour', 'Fast Food']
attraction_df['Food and Drinks'] = attraction_df[food_drink_columns].any(axis=1)
attraction_df.drop(columns=food_drink_columns, inplace=True)

In [ ]:
sports_adventure_columns = ['Activity Operator', 'Cycling', 'Horse Riding', 'Equestrian', 'Golf', 'Kitesurfing', 'Windsurfing', 'Sailing', 'Falconry', 'Adventure Park', 'Zip Lining', 'Stadium', 'Sports Venue', 'Sports Venues', 'Swimming', 'Swimming Pools and Water Park', 'Surfing', 'Fishing', 'Angling', 'Climbing']
attraction_df['Sports and Adventure'] = attraction_df[sports_adventure_columns].any(axis=1)
attraction_df.drop(columns=sports_adventure_columns, inplace=True)

In [ ]:
entertainment_columns = ['Movies', 'Cinema', 'Comedy', 'Music', 'Pubs and Bar', 'Gaa', 'Venue']
attraction_df['Entertainment'] = attraction_df[entertainment_columns].any(axis=1)
attraction_df.drop(columns=entertainment_columns, inplace=True)

In [ ]:
shopping_columns = ['Shopping Centres and Department Store', 'Shopping']
attraction_df['Entertainment'] = attraction_df[shopping_columns].any(axis=1)
attraction_df.drop(columns=shopping_columns, inplace=True)

In [ ]:
outdoor_water_activities = ['Kayaking', 'Boat', 'Cruising', 'Beach', 'River']
attraction_df['Outdoor Water Activities'] = attraction_df[outdoor_water_activities].any(axis=1)
attraction_df.drop(columns=outdoor_water_activities, inplace=True)

In [ ]:
attraction_df.drop(columns=['Activity', 'Attraction', 'Gardening',
       'Learning', 'Castle', 'Photography', 'Walking',
       'Art Gallery', 'Tour','Embarkation Point', 'Public Park',
       'Transport', 'Island', 'Offshore Island', 'Coach', 'Road',
       'Discovery Point', 'Day Tour', 'Artisan',
       'Marina', 'Pampering', 'Health Farm', 'Spa and Wellness',
       'Specialised Retreat', 'Spa', 'Bike Rental'])

In [ ]:
attraction_df.columns

In [ ]:
#connecting to postgreSQL DB and creating new DB
def createDB():
    """ 
    This function will create a new database and connect to a PostgreSQL database.
    Input: Input is the SQL query to create database.
    Output: The database will be created in PostgreSQL
    """
    # Importing necessary libraries
    import psycopg2
    try:
        # Making a connection with PostgreSQL database
        dbConnection = psycopg2.connect(
            user = "dap",
            password = "dap",
            host = "localhost",
            port = "5432",
            database = "postgres")
        # Below statement is for autocommit
        dbConnection.set_isolation_level(0) 
        # Creating a DB cursor
        dbCursor = dbConnection.cursor()
        # Dropping database if already present
        dbCursor.execute("DROP DATABASE IF EXISTS attraction;")
        # Executing SQL statement using DB cursor
        dbCursor.execute('CREATE DATABASE attraction;')
        return dbCursor,dbConnection
    except (Exception , psycopg2.Error) as dbError :
        # Printing error if occurred while connecting to PostgreSQL database
        print ("Error while connecting to PostgreSQL", dbError)

In [ ]:
#connecting to the DB and getting the cursor
cur,conn = createDB()

In [ ]:
#creates new table
def createTable():
    sql_scrpt = "Create table IF NOT EXISTS attraction(id serial not null,Name varchar(255),longitude DOUBLE PRECISION,latitude DOUBLE PRECISION,locality varchar(255),county varchar(255),type_of_attraction varchar(255),culture_and_history boolean,nature_and_wildlifes boolean,food_and_drinks boolean,sports_and_adventure boolean,entertainment boolean,outdoor_water_activities boolean)"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#Insert new table
    
def insertData(data):
    print(len(data))
    insrt_scrpt = 'Insert into attraction(id,name,longitude,latitude,locality,county,type_of_attraction,culture_and_history,nature_and_wildlifes,food_and_drinks,sports_and_adventure,entertainment,outdoor_water_activities) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cur.execute(insrt_scrpt,[data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],data[10],data[11],data[12]])
    conn.commit()

In [ ]:
# Do not run Repeatedly
'''upload only import variables for the visualization only the columns which are usefull'''
createTable()
for i in range (len(attraction_df.index)):
    value =[]
    id = i
    value.append(id)
    value.append(str(attraction_df['Name'][i]))
    value.append(str(attraction_df['Longitude'][i]))
    value.append(str(attraction_df['Latitude'][i]))
    value.append(str(attraction_df['Locality'][i]))
    value.append(str(attraction_df['County'][i]))
    value.append(str(attraction_df['Type of Attraction'][i]))
    value.append(str(attraction_df['Culture and History'][i]))
    value.append(str(attraction_df['Nature and Wildlifes'][i]))
    value.append(str(attraction_df['Food and Drinks'][i]))
    value.append(str(attraction_df['Sports and Adventure'][i]))
    value.append(str(attraction_df['Entertainment'][i]))
    value.append(str(attraction_df['Outdoor Water Activities'][i]))
   
    insertData(value)
cur.close()
conn.close()    
print('Data is Uploaded to psgresql succesfully')

In [ ]:
#retreving the Data from the PosgreSQL
import pandas as pd
#connecting to the DB and getting the cursor
cur,conn = createDB()
attractions_data = pd.read_sql('select * from attraction', con=conn)

In [ ]:
attractions_data

In [ ]:
top_10_localities = attractions_data.locality.value_counts().sort_values(ascending=False).head(10)
top_10_localities

In [ ]:
#Plot null value graphs to understand the null value flow
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
# Plot for the top 10 countries

plt.figure(figsize=(12,6))
plt.title('Top 10 Counties with most Localities ')
sns.barplot(x=top_10_localities.index,y=top_10_localities,palette = 'Set2')

In [ ]:

fig = px.scatter_mapbox(attractions_data, lat="latitude", lon="longitude",
                        hover_name="name", hover_data=["locality", "county"],
                        zoom=10, height=500, width=800, mapbox_style="open-street-map")
fig.show()

In [ ]:
df_tf = attractions_data.pivot_table(index = ['county'], aggfunc ='size')
df4 = df_tf.reset_index()
df4 = df4.drop([0])
df4.columns.values[1]="Count"
df4.head()

In [ ]:

cou = open('Ireland_Counties.geojson')
counties = json.load(cou)
fig = px.choropleth_mapbox(attractions_data, geojson=counties, locations='county', color='Count',
                           color_continuous_scale="Viridis",
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'county':'county'})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
cou.close

In [ ]:
################################################################################
acc_df = pd.DataFrame(list(acc_data.find()))
acc_df.shape

In [ ]:
acc_df.head()

In [ ]:
longitude,latitude = [],[]
def createDf(data): #calling function
    print(data)

In [ ]:
test_Dataset = acc_df['geo']
for i in range (0,len(test_Dataset)):
            longitude.append(test_Dataset.get(i).get('longitude'))
            latitude.append(test_Dataset.get(i).get('latitude'))
data={
        'longitude':longitude,
        'latitude':latitude
}
geo_Data = pd.DataFrame(data)
geo_Data.head(10)

In [ ]:
locality,region,country = [],[],[]
def createDf(data): #calling function
    print(data)
test_Dataset = acc_df['address']
for i in range (0,len(test_Dataset)):
            locality.append(test_Dataset.get(i).get('addressLocality'))
            region.append(test_Dataset.get(i).get('addressRegion'))
            country.append(test_Dataset.get(i).get('addressCountry'))
data={
        'Locality':locality,
        'Region':region,
        'Country':country
}
location_Data = pd.DataFrame(data)
location_Data.head(20)
location_Data.shape

In [ ]:
main_data = pd.concat([location_Data,geo_Data],axis=1)
main_data.tail(10)

In [ ]:
# we split the column geolocation to lattitude and longitude for future reference
#defining
type0 = [] 

#looping the Geo column to fetch the data
for data in acc_df["@type"]:
    type0.append(data[0]) #feath the data from first index
#placing the data in to the original dataframe as two columns and dropping the old colume geolocation
main_data['Type of Hotel'] = type0 #adding values to column
main_data['Hotel Name'] = acc_df["name"]
main_data['Url of Accomodation'] = acc_df["url"]
main_data.head(10)

In [ ]:
data7 = pd.DataFrame(list(acc_df['tags']))
data7 = data7.drop([4,5,6,7],axis=1)
data7

In [ ]:
data7.rename(columns={data7.columns[0]: 'Tag_0'},inplace=True)
data7.rename(columns={data7.columns[1]: 'Tag_1'},inplace=True)
data7.rename(columns={data7.columns[2]: 'Tag_2'},inplace=True)
data7.rename(columns={data7.columns[3]: 'Tag_3'},inplace=True)

In [ ]:
data7

In [ ]:
main_data

In [ ]:
results = pd.concat([main_data,data7],axis=1,join='inner')
results

In [ ]:
results.tail()

In [ ]:
#connecting to postgreSQL DB and creating new DB
def createDB():
    """ 
    This function will create a new database and connect to a PostgreSQL database.
    Input: Input is the SQL query to create database.
    Output: The database will be created in PostgreSQL
    """
    # Importing necessary libraries
    import psycopg2
    try:
        # Making a connection with PostgreSQL database
        dbConnection = psycopg2.connect(
            user = "postgres",
            password = "0703",
            host = "localhost",
            port = "5432",
            database = "postgres")
        # Below statement is for autocommit
        dbConnection.set_isolation_level(0) 
        # Creating a DB cursor
        dbCursor = dbConnection.cursor()
        # Dropping database if already present
        dbCursor.execute("DROP DATABASE IF EXISTS accomodation;")
        # Executing SQL statement using DB cursor
        dbCursor.execute('CREATE DATABASE accomodation;')
        return dbCursor,dbConnection
    except (Exception , psycopg2.Error) as dbError :
        # Printing error if occurred while connecting to PostgreSQL database
        print ("Error while connecting to PostgreSQL", dbError)

In [ ]:
#connecting to the DB and getting the cursor
cur,conn = createDB()

In [ ]:
#creates new table
def createTable():
    sql_scrpt = "Create table IF NOT EXISTS accomodation(id serial not null,Hotel_Name varchar(200),Type_of_Hotel varchar(80),Locality varchar(80),Region varchar(80),Country varchar(80),longitude DOUBLE PRECISION,latitude DOUBLE PRECISION,Url TEXT,Tag_0 varchar(80),Tag_1 varchar(80),Tag_2 varchar(80),Tag_3 varchar(80))"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#Insert new table
    
def insertData(data):
    print(len(data))
    insrt_scrpt = 'Insert into accomodation(id,Hotel_Name,Type_of_Hotel,Locality,Region,Country,longitude,latitude,Url,Tag_0,Tag_1,Tag_2,Tag_3) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cur.execute(insrt_scrpt,[data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],data[10],data[11],data[12]])
    conn.commit()

In [ ]:
# Do not run Repeatedly
'''upload only import variables for the visualization only the columns which are usefull'''
createTable()
for i in range (len(results.index)):
    value =[]
    id = i
    value.append(id)
    value.append(str(results['Hotel Name'][i]))
    value.append(str(results['Type of Hotel'][i]))
    value.append(str(results['Locality'][i]))
    value.append(str(results['Region'][i]))
    value.append(str(results['Country'][i]))
    value.append(str(results['longitude'][i]))
    value.append(str(results['latitude'][i]))
    value.append(str(results['Url of Accomodation'][i]))
    value.append(str(results['Tag_0'][i]))
    value.append(str(results['Tag_1'][i]))
    value.append(str(results['Tag_2'][i]))
    value.append(str(results['Tag_3'][i]))
   
    insertData(value)
cur.close()
conn.close()    
print('Data is Uploaded to psgresql succesfully')

In [ ]:
#retreving the Data from the PosgreSQL
import pandas as pd
#connecting to the DB and getting the cursor
cur,conn = createDB()
ACCOMODATION = pd.read_sql('select * from accomodation', con=conn)

In [ ]:
ACCOMODATION

In [ ]:
results['Region'].describe()

In [ ]:
# Region with most number of Hotels
results.Region.value_counts().plot(kind='bar')
plt.xlabel('Region')
plt.ylabel('Number of Hotels')
plt.title('Region with most number of Hotels')

In [ ]:
# Top Localities to Travel

top_10_localities = results.Locality.value_counts().sort_values(ascending=False).head(10)
top_10_localities

In [ ]:
results['Locality'].describe()

In [ ]:
#Plot null value graphs to understand the null value flow
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Plot for the top 10 countries

plt.figure(figsize=(12,6))
plt.title('Top 10 Counties with most Localities ')
sns.barplot(x=top_10_localities.index,y=top_10_localities,palette = 'Set2')

In [ ]:
fig = plt.figure(figsize=(10,7))
plt.pie(results['Region'].value_counts(),labels=results['Region'].unique(),autopct='%1.2f%%',pctdistance=0.7,labeldistance=1.2)
plt.show()

In [ ]:
Region_vs_ToH = results[(results['Region']=='Dublin') & (results['Type of Hotel'])]
Region_vs_ToH['Type of Hotel'].value_counts().plot.pie(autopct='%1.2f%%',startangle=30,pctdistance=0.5,explode=[0,0,0,0.1,0])
plt.title('Types of Accomodation Option in Dublin County')
plt.axis('equal')
plt.tight_layout()
plt.show()

In [ ]:
Region_vs_Locality = results[(results['Region']=='Wicklow') & (results['Locality'])]
Region_vs_Locality['Locality'].value_counts().plot.pie(autopct='%1.2f%%',startangle=30,pctdistance=0.5)
plt.title('Localitites to Visit in Wicklow')
plt.axis('equal')
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import cufflinks as cf
from chart_studio import plotly
import plotly.offline as pyoff
import plotly.graph_objs as go

In [ ]:
# Make Plotly work in your Jupyter Notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
# Use Plotly locally
cf.go_offline()

In [ ]:
df_1=results.Region.value_counts()
# Compare old plots to a Plotly interactive plot
# You can save as PNG, Zoom, Pan, Turn off & on Data and more

df_1.iplot()

In [ ]:
# Allows us to create graph objects for making more customized plots
import plotly.graph_objects as go
import plotly.express as px
# Make multiple line plots
px.line(top_10_localities, x=top_10_localities.index, y=top_10_localities, labels={'x':'Localities ', 'y':'Count'},
       title='Top 10 Cities with most Localities')

In [ ]:
# Top Localities to Travel

top_10_Region = results.Region.value_counts().sort_values(ascending=False).head(10)
top_10_Region
fig = px.bar(results,x=top_10_Region.index,y=top_10_Region,title='Top 10 Region with most number of Accomodation Options',labels={'x':'Region ', 'y':'Count of Accomodation optios'})
fig.update_layout(title_x=0.5)

In [ ]:
df_dublin = results[(results['Region']=='Dublin') & (results['Locality'])]
df_dublin
fig = px.bar(y=df_dublin['Type of Hotel'], x=df_dublin['Locality'], color=df_dublin['Type of Hotel'],title='Types of Accomodation Available in Each Locality of Dublin',labels={'x': 'Dublin ', 'y':'Hotels Count in each Locality of Dublin'})
# Set fontsize and uniformtext_mode='hide' says to hide the text if it won't fit
fig.update_layout(uniformtext_minsize=8)
# Rotate labels 45 degrees
fig.update_layout(xaxis_tickangle=-45)
fig.update_layout(title_x=0.5)

In [ ]:

fig = px.bar_polar(results,r=results['Type of Hotel'], theta=results['Region'], color=results['Type of Hotel'],color_discrete_sequence=px.colors.qualitative.G10,title='Types of Accomodation Available in Each Locality of Dublin')
fig.show()

In [ ]:
#Using Plotly Mapbox to visualize scatter data of Attractions in each Region
fig = px.scatter_mapbox(results, lat="latitude", lon="longitude",
                        hover_name="Hotel Name", hover_data=["Locality", "Region", "Country"],
                        zoom=10, height=500, width=800, mapbox_style="open-street-map")
fig.show()

In [ ]:
# Trial Code
# Used for trial
geo = results[(results['Region']==region) & (results['Type of Hotel'])]
geo = results.groupby(['Region','Type of Hotel'])['Type of Hotel'].count()
geo = pd.DataFrame(geo)
geo.set_axis(["Count"],axis='columns',inplace=True)
geo

In [ ]:

df_x = results[(results['Region']==region) & (results['Type of Hotel'])]
df_x = results.groupby(['Region','Type of Hotel'])['Type of Hotel'].count()
df_x = pd.DataFrame(geo)
df_x = results.pivot_table(index = ['Region','Type of Hotel'], aggfunc ='size')
df_x = df_x.reset_index()
df_x.columns.values[2] = 'Count'
df_x = df_x.tail(-1) 
df_x.head(25)

In [ ]:
#Using Plotly Mapbox to visualize Choropleth data of Attractions in each Region
county_data = open('Ireland_Counties.geojson.txt',encoding="utf8")
counties = json.load(county_data)
fig = px.choropleth_mapbox(df_x, geojson=counties, locations=df_x['Region'],hover_name=df_x['Type of Hotel'],color=df_x['Type of Hotel'],
                           color_continuous_scale="Viridis",     
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'Region':'Region'})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
county_data.close

In [ ]:
fig = px.pie(df_x,values=df_x['Count'],names=df_x['Region'])
fig.show()

In [ ]:
# With a scatter matrix we can compare changes when comparing column data
fig = px.scatter_matrix(df_x, color=df_x['Region'])
fig

In [ ]:
Geo_region = results.pivot_table(index = ['Region'], aggfunc ='size')
Geo_region = Geo_region.reset_index()
Geo_region = Geo_region.drop([0])
Geo_region.columns.values[1]="Count"
Geo_region.head(10)

In [ ]:
#Using Plotly Mapbox to visualize Choropleth data of Attractions in each Region
county_data = open('Ireland_Counties.geojson.txt',encoding="utf8")
counties = json.load(county_data)
fig = px.choropleth_mapbox(Geo_region, geojson=counties, locations=Geo_region['Region'], color=Geo_region['Count'],
                           color_continuous_scale="Rainbow",
                           mapbox_style="carto-positron",
                           center={"lat": 53.8278441, "lon": -9.6308032},
                           zoom=5,
                           opacity=0.5,
                           labels={'Region':'County'},title='Count of Localities in Each County')
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()
county_data.close

In [ ]:
#Using Plotly Mapbox to visualize scatter data of Attractions in each Region
fig = px.scatter_mapbox(results, lat="latitude", lon="longitude",color=results['Type of Hotel'],
                        hover_name="Hotel Name", hover_data=["Type of Hotel","Locality"],color_discrete_sequence=px.colors.qualitative.G10,
                        title="Type of Accomodation in Various Region using Plotly",
                        zoom=10, height=500, width=800, mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

# Aniket

In [81]:

act_df = pd.DataFrame(list(acti_data.find())) #placing all in one DF
no_id=True
if no_id:
    del act_df['_id']
# Shape of the data frame 
act_df.shape

(5864, 9)

In [ ]:
act_df.head(2)

## Cleaning the above data frame 
### Based on GEO, Address and Type
1. geo 
2. Address 
3. Type of Place 
4. Activity offered by that particular place

In [ ]:
longitude,latitude =[],[]
geo_=pd.DataFrame(columns=['longitude','latitude'])
a=act_df['geo']
for i in range (0,len(a)):
    longitude.append(a.get(i).get('longitude'))
    latitude.append(a.get(i).get('latitude'))
geo_['longitude']=longitude
geo_['latitude']=latitude

In [ ]:
Locality,Region,Country=[],[],[]
address_df=pd.DataFrame(columns=['Locality','Region','Country'])
b=act_df['address']
for i in range (0,len(b)):
    Locality.append(b.get(i).get('addressLocality'))
    Region.append(b.get(i).get('addressRegion'))
    Country.append(b.get(i).get('addressCountry'))
address_df['Locality']=Locality
address_df['Region']=Region
address_df['Country']=Country

In [ ]:
# we split the column geolocation to lattitude and longitude for future reference
#defining
type1= [] 
type_of_place=pd.DataFrame(columns=['Type of Venue'])
#looping the Geo column to fetch the data
for data in act_df["@type"]:
    if len(data) >= 2:
        type1.append(data[1])
    else:
        type1.append(data[0])
type_of_place['Type of Venue'] = type1

In [ ]:
#### Makeing a data frame for Tags which is nothing but the Activity that is present in the Places

In [ ]:
Activities=[]
df_act=pd.DataFrame(columns=['Activities'])
for sublist in act_df['tags']:
    a=sublist.pop(0)
    a=', '.join(sublist)
    Activities.append(a)
df_act['Activities']=Activities

In [ ]:
tags=act_df['tags'].apply(lambda x:{t:True for t in x})
df_tags=tags.apply(pd.Series).fillna(False)

In [ ]:
df_tags

In [ ]:
# checking the unique values of the Activity offerd by the venues that are spread All over Ireland 
unique_activitis=[]
for i in df_tags.columns:
    unique_activitis.append(i)
print(unique_activitis)

### Creating groups of the Activity 
1. Outdoor Adventures: Kayaking, Walking, Cycling, Fishing, Angling, Climbing, Bird Watching, Kitesurfing, Windsurfing, Zip Lining, day tour , tour , boat 

2. Cultural Exploration: Museums and Attractions, Historic Houses and Castles, Church Abbey, Monastery, Abbeys and Monastery, Ruins, Art Gallery, Literary Ireland, Discovery Point, Tracing Your Ancestors, Traditional Irish, Music,Venue, Castle

3. Food and Drink: Restaurant, Local Produce, Cafe, Pubs and Bars, Seafood, Cooking, Cookery, Vegetarian, Vegan, Artisan, Fast Food, Food Trails and Tour, Fine Dining, Banquet

4. Accommodation: Self Catering Accommodation, B&B, Camping, Glamping, Activity Holiday Accommodation, Welcome Standard

5. Sports and Recreation: Golf, Gaa, Horse Riding, Equestrian, Sailing, Marinas, Stadium, Sports Venue, Pitch And Putt, National Park, National and Forest Park, Swimming, Swimming Pools and Water Park, Fitness and Leisure, Swimming Pool, Golf Driving Range, Adventure Park, Falconry, Surfing

6. Shopping and Craft: Shopping Centres and Department Store, Food Shops, Craft

7. Wellness and Pampering: Health Farm, Spa and Wellness, Specialised Retreat

8. Nature and Wildlife: Agriculture, Nature and Wildlife, Gardening, Natural Landscape, Photography, Gardens, River, Island, Offshore Island, Public Park, Public Sculpture, Zoos and Aquariums
9. Transportation and Travel:'Bike Rental', 'Transport', 'Coach', 'Road','Driving Range'

In [ ]:
df_tags.drop(columns=['Attraction','Standard','General', 'Self Catering Accommodation','Follow the Shamrock', 'Accommodation','Activity','Activity Operator','Vegan','Day Tour','Comedy','Learning'],inplace=True)

In [ ]:
Outdoor_Adventures_columns = ['Kayaking', 'Walking','Cruising','Marina', 'Cycling', 'Fishing', 'Angling', 'Climbing', 'Bird Watching', 'Kitesurfing','Zip Lining','Tour', 'Boat','Windsurfing']
df_tags['Outdoor Adventures'] = df_tags[Outdoor_Adventures_columns].any(axis=1)
df_tags.drop(columns=Outdoor_Adventures_columns, inplace=True)

In [ ]:
Cultural_Exploration_columns = [ 'Venue', 'Castle','Historic Houses and Castle','Churches','Church Abbey', 'Museums and Attraction','Monastery', 'Abbeys and Monastery', 'Ruins', 'Art Gallery', 'Literary Ireland','Discovery Point','Tracing Your Ancestors','Music','Traditionally Irish','Movies', 'Cinema']
df_tags['Cultural Exploration'] = df_tags[Cultural_Exploration_columns].any(axis=1)
df_tags.drop(columns=Cultural_Exploration_columns, inplace=True)

In [ ]:
Food_and_Drink_columns = ['Casinos', 'Pubs and Bar','B&B','Cafe','Restaurant', 'Local Produce',  'Seafood', 'Cooking', 'Cookery', 'Vegetarian', 'Artisan', 'Fast Food', 'Food Trails and Tour', 'Fine Dining', 'Banquet']
df_tags['Food and Drink'] = df_tags[Food_and_Drink_columns].any(axis=1)
df_tags.drop(columns=Food_and_Drink_columns, inplace=True)

In [ ]:
Accommodation_columns = [ 'Camping', 'Glamping', 'Activity Holiday Accommodation', 'Welcome Standard' ]
df_tags['Accommodation'] = df_tags[Accommodation_columns].any(axis=1)
df_tags.drop(columns=Accommodation_columns, inplace=True)

In [ ]:
Sports_and_Recreation_columns = ['Golf','Pitch and Putt','Forest Park', 'Park and Forest Walk','Garden', 'Gaa','Sports Venues', 'Horse Riding', 'Equestrian', 'Sailing', 'Stadium', 'Sports Venue', 'Pitch And Putt', 'National Park', 'National and Forest Park', 'Swimming', 'Swimming Pools and Water Park', 'Fitness and Leisure', 'Swimming Pool', 'Golf Driving Range', 'Adventure Park', 'Falconry', 'Surfing']
df_tags['Sports and Recreation'] = df_tags[Sports_and_Recreation_columns].any(axis=1)
df_tags.drop(columns=Sports_and_Recreation_columns, inplace=True)

In [ ]:
Shopping_and_Craft_columns = [ 'Shopping Centres and Department Store', 'Food Shops', 'Craft','Shopping']
df_tags['Shopping and Craft'] = df_tags[Shopping_and_Craft_columns].any(axis=1)
df_tags.drop(columns=Shopping_and_Craft_columns, inplace=True)

In [ ]:
Wellness_and_Pampering_columns = [ 'Health Farm', 'Spa and Wellness', 'Specialised Retreat','Spa','Pampering']
df_tags['Wellness and Pampering'] = df_tags[Wellness_and_Pampering_columns].any(axis=1)
df_tags.drop(columns=Wellness_and_Pampering_columns, inplace=True)

In [ ]:
Nature_and_Wildlife_columns = ['Agriculture','Beach','Visitor Farm', "Ireland's Hidden Hearthlands", 'Gardening', 'Natural Landscape', 'Photography', 'Gardens', 'River', 'Island', 'Offshore Island', 'Public Park', 'Public Sculpture','Zoos and Aquarium' ]
df_tags['Nature and Wildlife'] = df_tags[Nature_and_Wildlife_columns].any(axis=1)
df_tags.drop(columns=Nature_and_Wildlife_columns, inplace=True)

In [ ]:
Transportation_and_Travel_columns = ['Bike Rental', 'Transport', 'Coach', 'Road','Driving Range','Race Course','Embarkation Point' ]
df_tags['Transportation and Travel'] = df_tags[Transportation_and_Travel_columns].any(axis=1)
df_tags.drop(columns=Transportation_and_Travel_columns, inplace=True)

In [ ]:
df_tags.columns

## Concating All the seperate data frame to make the clean data frame

In [ ]:
main_df=pd.concat([act_df['name'],geo_,address_df,type_of_place,df_act,df_tags],axis=1)
main_df.rename(columns={'name': 'Name', 'longitude': 'Longitude', 'latitude': 'Latitude'}, inplace=True)

In [ ]:
main_df.columns

In [ ]:
#connecting to postgreSQL DB and creating new DB
def createDB():
    """ 
    This function will create a new database and connect to a PostgreSQL database.
    Input: Input is the SQL query to create database.
    Output: The database will be created in PostgreSQL
    """
    # Importing necessary libraries
    import psycopg2
    try:
        # Making a connection with PostgreSQL database
        dbConnection = psycopg2.connect(
            user = "postgres",
            password = "dap",
            host = "localhost",
            port = "5433",
            database = "postgres")
        # Below statement is for autocommit
        dbConnection.set_isolation_level(0) 
        # Creating a DB cursor
        dbCursor = dbConnection.cursor()
        # Dropping database if already present
        dbCursor.execute("DROP DATABASE IF EXISTS accomodation;")
        # Executing SQL statement using DB cursor
        dbCursor.execute('CREATE DATABASE accomodation;')
        return dbCursor,dbConnection
    except (Exception , psycopg2.Error) as dbError :
        # Printing error if occurred while connecting to PostgreSQL database
        print ("Error while connecting to PostgreSQL", dbError)

In [ ]:
#connecting to the DB and getting the cursor
cur,conn = createDB()

In [ ]:
#creates new table
def createTable():
    sql_scrpt = "Create table IF NOT EXISTS activities_db(id serial not null,Name varchar(260),Type_of_Venue varchar(80),Locality varchar(80),Region varchar(80),Country varchar(80),longitude DOUBLE PRECISION,latitude DOUBLE PRECISION,Food_and_Drink boolean, Nature_and_Wildlife boolean, Outdoor_Adventures boolean, Cultural_Exploration boolean, Accommodation boolean ,  Sports_and_Recreation boolean ,Shopping_and_Craft boolean, Wellness_and_Pampering boolean,Transportation_and_Travel boolean )"
    cur.execute(sql_scrpt)
    conn.commit()

In [ ]:
#Insert new table
    
def insertData(data):
    insrt_scrpt ='insert into activities_Db(id, Name, Type_of_Venue, Locality, Region, Country, longitude, latitude, Food_and_Drink,Nature_and_Wildlife, Outdoor_Adventures, Cultural_Exploration, Accommodation, Sports_and_Recreation, Shopping_and_Craft, Wellness_and_Pampering, Transportation_and_Travel) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    cur.execute(insrt_scrpt,[data[0],data[1],data[2],data[3],data[4],data[5],data[6],data[7],data[8],data[9],data[10],data[11],data[12],data[13],data[14],data[15],data[16]])
    conn.commit()

In [ ]:
# Do not run Repeatedly
'''upload only import variables for the visualization only the columns which are usefull'''
createTable()
for i in range (len(main_df.index)):
    value =[]
    id = i
    value.append(id)
    value.append(str(main_df['Name'][i]))
    value.append(str(main_df['Type of Venue'][i]))
    value.append(str(main_df['Locality'][i]))
    value.append(str(main_df['Region'][i]))
    value.append(str(main_df['Country'][i]))
    value.append(str(main_df['Longitude'][i]))
    value.append(str(main_df['Latitude'][i]))
    value.append(str(main_df['Food and Drink'][i]))
    value.append(str(main_df['Nature and Wildlife'][i]))
    value.append(str(main_df['Outdoor Adventures'][i]))
    value.append(str(main_df['Cultural Exploration'][i]))
    value.append(str(main_df['Accommodation'][i]))
    value.append(str(main_df['Sports and Recreation'][i]))
    value.append(str(main_df['Shopping and Craft'][i]))
    value.append(str(main_df['Wellness and Pampering'][i]))
    value.append(str(main_df['Transportation and Travel'][i]))
    
   
    insertData(value)
cur.close()
conn.close()    
print('Data is Uploaded to psgresql succesfully')

In [ ]:
#retreving the Data from the PosgreSQL
import pandas as pd
#connecting to the DB and getting the cursor
cur,conn = createDB()
activities_data = pd.read_sql('select * from activities_Db', con=conn)

In [ ]:
activities_data.head()