## DATABASE & ANALYTICS PROGRAMMING
### Irelands accommodation activities and attractions data visualization

In [1]:
#Import all the required librabries
import urllib.request
from pymongo import MongoClient
import json
import pymongo
import numpy as np

## Fetch all the required data from the web

In [ ]:
#created function with "name" as API call request type name and "number" as the pages
def get_all_details(name,number):
    #total data in activities=6115,accommodation=2397,attractions=1556
    base_url = "https://failteireland.azure-api.net/opendata-api/v1/{}subscription-key=&search=*&$skip={}"
    acc_url = base_url.format(name, number)
    
    try:
        with urllib.request.urlopen(acc_url) as response:
            
            return json.load(response)
    except urllib.error.URLError as e:
        print("The API URL is invalid."+e)
    except json.JSONDecodeError:
        print("Error decoding JSON response")
        return {}

In [2]:

client = MongoClient("mongodb+srv://AdminDap:admin003@cluster3.oqbqjxz.mongodb.net/test")
client.test
db = client['dap_project']
acc_data = db['accommodation-collection']
attrac_data = db['attractions-collection']
acti_data = db['activities-collection']

In [ ]:
def upload_data(data_type,ALL_DATA):
    if data_type =="accommodation" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acc_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="attractions" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            attrac_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="activities" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acti_data.insert_one(ALL_DATA["results"][i])

In [ ]:
for dat in np.arange(0,2400,50):
    print(dat)
    upload_data("accommodation",get_all_details("accommodation?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,1600,50):
    print(dat)
    upload_data("attractions",get_all_details("attractions?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,6150,50):
    print(dat)
    upload_data("activities",get_all_details("activities?",dat))
    time.sleep(10)

In [3]:
import pandas as pd
acc_df = pd.DataFrame(list(acc_data.find()))
acc_df.shape

(2247, 10)

In [4]:
acc_df.head()

,_id,@context,@type,name,url,geo,telephone,address,image,tags
0,643425483594cb2a74385995,http://schema.org,"[Hotel, LocalBusiness]",Taravie Hotel,https://www.facebook.com/pages/Taravie-Hotel/2...,"{'@type': 'GeoCoordinates', 'longitude': -6.22...",+353(0)539425208,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hotel, Follow the Shamrock, St..."
1,643425483594cb2a74385996,http://schema.org,"[Hotel, LocalBusiness]",Adare Manor Hotel & Golf Resort,https://www.adaremanor.com/,"{'@type': 'GeoCoordinates', 'longitude': -8.77...",+35361605200,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hotel, Follow the Shamrock, St..."
2,643425493594cb2a74385997,http://schema.org,"[Hostel, LocalBusiness]",Courtbrack Accommodation,,"{'@type': 'GeoCoordinates', 'longitude': -8.64...",+353(0)61302500,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hostel, Follow the Shamrock, S..."
3,643425493594cb2a74385998,http://schema.org,"[BedAndBreakfast, LocalBusiness]",Glencarrig,https://www.facebook.com/glencarrig,"{'@type': 'GeoCoordinates', 'longitude': -9.72...",+353(0)659058209,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, B&B, Follow the Shamrock, Stan..."
4,643425493594cb2a74385999,http://schema.org,"[BedAndBreakfast, LocalBusiness]",Mevagh House,http://www.mevaghhouse.com,"{'@type': 'GeoCoordinates', 'longitude': -7.78...",+353(0)749154708,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, B&B, Follow the Shamrock, Stan..."

In [14]:

df = pd.json_normalize(list(acc_data.find()),max_level=1)
df = df.drop(["_id","@context", "url", "image.@type", "image.caption", "image.url", "geo.@type", "address.@type", "telephone"], axis=1)

# flatten @type and tags data
df['@type'] = df['@type'].apply(lambda x: {t: True for t in x})
df['tags'] = df['tags'].apply(lambda x: {t: True for t in x})

# convert @type and tags columns to separate columns with boolean values
df = pd.concat([df.drop(['@type', 'tags'], axis=1), df['@type'].apply(pd.Series).fillna(False), df['tags'].apply(pd.Series).fillna(False)], axis=1)
df = df.rename(columns={
    "name": "Name",
    "geo.longitude": "Longitude",
    "geo.latitude": "Latitude",
    "address.addressLocality": "Locality",
    "address.addressRegion": "Region",
    "address.addressCountry": "Country"
})
df.head()

,Name,Longitude,Latitude,Locality,Region,Country,Hotel,LocalBusiness,Hostel,BedAndBreakfast,...,B&B Ireland,B&Bs,Historic House,Guesthouse,Glamping,Activity Holiday Accommodation,Activity,Activity Operator,Fitness and Leisure,Venue
0,Taravie Hotel,-6.228038,52.645326,Courtown,Wexford,Republic of Ireland,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Adare Manor Hotel & Golf Resort,-8.777826,52.564189,Adare,Limerick,Republic of Ireland,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Courtbrack Accommodation,-8.646733,52.655444,Limerick City,Limerick,Republic of Ireland,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,Glencarrig,-9.721323,52.592004,Carrigaholt,Clare,Republic of Ireland,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
4,Mevagh House,-7.785543,55.176324,Carrigart,Donegal,Republic of Ireland,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False