In [30]:
import urllib.request
import json
import pymongo
import time
import numpy as np

def get_accomidation_details(number):
    base_url = "https://failteireland.azure-api.net/opendata-api/v1/accommodation?subscription-key=&search=*&$skip={}"
    acc_url = base_url.format(number)
    
    try:
        with urllib.request.urlopen(acc_url) as response:
            
            return json.load(response)
    except urllib.error.URLError as e:
        print("The API URL is invalid."+e)
    except json.JSONDecodeError:
        print("Error decoding JSON response")
        return {}

In [31]:
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb://localhost:27017/",username="dap",password="dap")
db = client['test_project']
collection = db['data-collection']

In [32]:
def upload_data(ACCOM_DATA):
    if len(ACCOM_DATA) != 0:
        for i in range (0 , len(ACCOM_DATA["results"])):
            collection.insert_one(ACCOM_DATA["results"][i])

In [33]:
for dat in np.arange(0,2400,50):
    print(dat)
    upload_data(get_accomidation_details(dat))
    time.sleep(10)

0
50
100
150
200
250
300
350
Error decoding JSON response
400
Error decoding JSON response
450
500
550
600
650
700
750
800
850
900
950
1000
Error decoding JSON response
1050
1100
1150
1200
1250
1300
1350
1400
1450
1500
1550
1600
1650
1700
1750
1800
1850
1900
1950
2000
2050
2100
2150
2200
2250
2300
2350

In [ ]:
import pprint
for collections in collection.find():
    pprint.pprint(collections)

In [34]:
print(collection.count())

2247

/var/folders/c4/449rfrjx7nlfpq65dth_nsjr0000gn/T/ipykernel_39243/1337786342.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  print(collection.count())

In [35]:
import pandas as pd
acc_df = pd.DataFrame(list(collection.find()))
acc_df.shape

(2247, 10)

In [37]:
acc_df.head()

,_id,@context,@type,name,url,geo,telephone,address,image,tags
0,64300f66784306319805ab3d,http://schema.org,"[Hotel, LocalBusiness]",Taravie Hotel,https://www.facebook.com/pages/Taravie-Hotel/2...,"{'@type': 'GeoCoordinates', 'longitude': -6.22...",+353(0)539425208,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hotel, Follow the Shamrock, St..."
1,64300f66784306319805ab3e,http://schema.org,"[Hotel, LocalBusiness]",Adare Manor Hotel & Golf Resort,https://www.adaremanor.com/,"{'@type': 'GeoCoordinates', 'longitude': -8.77...",+35361605200,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hotel, Follow the Shamrock, St..."
2,64300f66784306319805ab3f,http://schema.org,"[Hostel, LocalBusiness]",Courtbrack Accommodation,,"{'@type': 'GeoCoordinates', 'longitude': -8.64...",+353(0)61302500,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hostel, Follow the Shamrock, S..."
3,64300f66784306319805ab40,http://schema.org,"[BedAndBreakfast, LocalBusiness]",Glencarrig,https://www.facebook.com/glencarrig,"{'@type': 'GeoCoordinates', 'longitude': -9.72...",+353(0)659058209,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, B&B, Follow the Shamrock, Stan..."
4,64300f66784306319805ab41,http://schema.org,"[BedAndBreakfast, LocalBusiness]",Mevagh House,http://www.mevaghhouse.com,"{'@type': 'GeoCoordinates', 'longitude': -7.78...",+353(0)749154708,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, B&B, Follow the Shamrock, Stan..."

In [38]:
longitude,latitude = [],[]
def createDf(data): #calling function
    print(data)

In [39]:
test_Dataset = acc_df['geo']
for i in range (0,len(test_Dataset)):
            longitude.append(test_Dataset.get(i).get('longitude'))
            latitude.append(test_Dataset.get(i).get('latitude'))
data={
        'longitude':longitude,
        'latitude':latitude
}
geo_Data = pd.DataFrame(data)
geo_Data.head()

   longitude   latitude
0  -6.228038  52.645326
1  -8.777826  52.564189
2  -8.646733  52.655444
3  -9.721323  52.592004
4  -7.785543  55.176324

In [41]:
locality,region,country = [],[],[]
def createDf(data): #calling function
    print(data)
test_Dataset = acc_df['address']
for i in range (0,len(test_Dataset)):
            locality.append(test_Dataset.get(i).get('addressLocality'))
            region.append(test_Dataset.get(i).get('addressRegion'))
            country.append(test_Dataset.get(i).get('addressCountry'))
data={
        'Locality':locality,
        'Region':region,
        'Country':country
}
location_Data = pd.DataFrame(data)
location_Data.head(20)

         Locality    Region              Country
0        Courtown   Wexford  Republic of Ireland
1           Adare  Limerick  Republic of Ireland
2   Limerick City  Limerick  Republic of Ireland
3     Carrigaholt     Clare  Republic of Ireland
4       Carrigart   Donegal  Republic of Ireland
5     Cahersiveen     Kerry  Republic of Ireland
6      Ballinrobe      Mayo  Republic of Ireland
7      Louisburgh      Mayo  Republic of Ireland
8            Naas   Kildare  Republic of Ireland
9        Killurin   Wexford  Republic of Ireland
10       Portumna    Galway  Republic of Ireland
11        Mullagh     Cavan  Republic of Ireland
12          Adare  Limerick  Republic of Ireland
13       Westport      Mayo  Republic of Ireland
14     Dunkineely   Donegal  Republic of Ireland
15   Donegal Town   Donegal  Republic of Ireland
16   Donegal Town   Donegal  Republic of Ireland
17        Clifden    Galway  Republic of Ireland
18    Galway City    Galway  Republic of Ireland
19        Ballina      Mayo  Republic of Ireland

In [42]:
main_data = pd.concat([location_Data,geo_Data],axis=1)
main_data

                Locality     Region              Country  longitude   latitude
0               Courtown    Wexford  Republic of Ireland  -6.228038  52.645326
1                  Adare   Limerick  Republic of Ireland  -8.777826  52.564189
2          Limerick City   Limerick  Republic of Ireland  -8.646733  52.655444
3            Carrigaholt      Clare  Republic of Ireland  -9.721323  52.592004
4              Carrigart    Donegal  Republic of Ireland  -7.785543  55.176324
...                  ...        ...                  ...        ...        ...
2242  Carrick-on-Shannon    Leitrim  Republic of Ireland  -8.095886  53.943717
2243          Skibbereen       Cork  Republic of Ireland  -9.130571  51.558125
2244          Carndonagh    Donegal  Republic of Ireland  -7.224352  55.242060
2245              Mallow       Cork  Republic of Ireland  -8.656962  52.185199
2246               Cahir  Tipperary  Republic of Ireland  -7.915593  52.377426

[2247 rows x 5 columns]