## DATABASE & ANALYTICS PROGRAMMING
### Irelands accommodation activities and attractions data visualization

In [20]:
#Import all the required librabries
!pip install "pymongo[srv]"
import urllib.request
from pymongo import MongoClient
import json
import pymongo
import numpy as np
import pandas as pd

Requirement already satisfied: pymongo[srv] in c:\users\wwwde\pthon 10\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\wwwde\pthon 10\lib\site-packages (from pymongo[srv]) (2.3.0)

## Fetch all the required data from the web

In [28]:
#created function with "name" as API call request type name and "number" as the pages
def get_all_details(name,number):
    #total data in activities=6115,accommodation=2397,attractions=1556
    base_url = "https://failteireland.azure-api.net/opendata-api/v1/{}subscription-key=&search=*&$skip={}"
    acc_url = base_url.format(name, number)
    
    try:
        with urllib.request.urlopen(acc_url) as response:
            
            return json.load(response)
    except urllib.error.URLError as e:
        print("The API URL is invalid."+e)
    except json.JSONDecodeError:
        print("Error decoding JSON response")
        return {}

In [29]:
#remote mongoDB
client = MongoClient("mongodb+srv://AdminDap:admin003@cluster3.oqbqjxz.mongodb.net/test")
client.test
db = client['dap_project']
acc_data = db['accommodation-collection']
attrac_data = db['attractions-collection']
acti_data = db['activities-collection']

In [ ]:
def upload_data(data_type,ALL_DATA):
    if data_type =="accommodation" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acc_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="attractions" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            attrac_data.insert_one(ALL_DATA["results"][i])
    elif data_type =="activities" and len(ALL_DATA) != 0:
        for i in range (0 , len(ALL_DATA["results"])):
            acti_data.insert_one(ALL_DATA["results"][i])

In [ ]:
for dat in np.arange(0,2400,50):
    print(dat)
    upload_data("accommodation",get_all_details("accommodation?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,1600,50):
    print(dat)
    upload_data("attractions",get_all_details("attractions?",dat))
    time.sleep(10)

In [ ]:
for dat in np.arange(0,6150,50):
    print(dat)
    upload_data("activities",get_all_details("activities?",dat))
    time.sleep(10)

In [3]:

attraction_df = pd.DataFrame(list(attrac_data.find()))
attraction_df.shape

(1506, 10)

In [4]:
attraction_df.head()

,_id,@context,@type,name,url,geo,telephone,address,image,tags
0,64342a803594cb2a7438641e,http://schema.org,"[LocalBusiness, Museum]",Michael J Quill Centre,http://www.historic-ireland.com/places/778.html,"{'@type': 'GeoCoordinates', 'longitude': -9.46...",+353646685511,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Attraction, Museums and Attraction]"
1,64342a803594cb2a7438641f,http://schema.org,"[LocalBusiness, FoodEstablishment, TravelAgenc...",Sonairte The National Ecology Centre,http://www.sonairte.ie,"{'@type': 'GeoCoordinates', 'longitude': -6.25...",+353419827572,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Agriculture, Nature and Wildlife, F..."
2,64342a813594cb2a74386420,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Clonmore Castle,http://www.megalithicireland.com/Clonmore%20Ca...,"{'@type': 'GeoCoordinates', 'longitude': -6.57...",,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Castle, Attraction, Historic Houses..."
3,64342a813594cb2a74386421,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Dún Na Séad Castle,https://www.baltimorecastle.ie/,"{'@type': 'GeoCoordinates', 'longitude': -9.37...",+3532820735,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Attraction, Historic Houses and Cas..."
4,64342a813594cb2a74386422,http://schema.org,"[LocalBusiness, TouristAttraction, LandmarksOr...",Conna Castle,https://www.castles.nl/conna-castle,"{'@type': 'GeoCoordinates', 'longitude': -8.10...",+353862149601,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Activity, Castle, Attraction, Historic Houses..."

In [5]:

df = pd.json_normalize(list(attrac_data.find()),max_level=1)
df = df.drop(["_id","@context", "url", "image.@type", "image.caption", "image.url", "geo.@type", "address.@type", "telephone"], axis=1)

# flatten @type and tags data
df['@type'] = df['@type'].apply(lambda x: {t: True for t in x})
df['tags'] = df['tags'].apply(lambda x: {t: True for t in x})

# convert @type and tags columns to separate columns with boolean values
df = pd.concat([df.drop(['@type', 'tags'], axis=1), df['@type'].apply(pd.Series).fillna(False), df['tags'].apply(pd.Series).fillna(False)], axis=1)
df = df.rename(columns={
    "name": "Name",
    "geo.longitude": "Longitude",
    "geo.latitude": "Latitude",
    "address.addressLocality": "Locality",
    "address.addressRegion": "Region",
    "address.addressCountry": "Country"
})
df.head()

,Name,Longitude,Latitude,Locality,Region,Country,LocalBusiness,Museum,FoodEstablishment,TravelAgency,...,Cookery,Adventure Park,Zip Lining,Marina,Pampering,Health Farm,Spa and Wellness,Specialised Retreat,Spa,Bike Rental
0,Michael J Quill Centre,-9.461430,51.902656,Kilgarvan,Kerry,Republic of Ireland,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Sonairte The National Ecology Centre,-6.257022,53.678076,Laytown,Meath,Republic of Ireland,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Clonmore Castle,-6.575125,52.828286,Clonmore,Carlow,Republic of Ireland,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Dún Na Séad Castle,-9.373102,51.483571,Baltimore,Cork,Republic of Ireland,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Conna Castle,-8.101655,52.094521,Conna,Cork,Republic of Ireland,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [63]:
################################################################################
acc_df = pd.DataFrame(list(acc_data.find()))
acc_df.shape

(2247, 10)

In [64]:
acc_df.head()

,_id,@context,@type,name,url,geo,telephone,address,image,tags
0,643063d02c0b26644db2d528,http://schema.org,"[Hotel, LocalBusiness]",Taravie Hotel,https://www.facebook.com/pages/Taravie-Hotel/2...,"{'@type': 'GeoCoordinates', 'longitude': -6.22...",+353(0)539425208,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hotel, Follow the Shamrock, St..."
1,643063d02c0b26644db2d529,http://schema.org,"[Hotel, LocalBusiness]",Adare Manor Hotel & Golf Resort,https://www.adaremanor.com/,"{'@type': 'GeoCoordinates', 'longitude': -8.77...",+35361605200,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hotel, Follow the Shamrock, St..."
2,643063d02c0b26644db2d52a,http://schema.org,"[Hostel, LocalBusiness]",Courtbrack Accommodation,,"{'@type': 'GeoCoordinates', 'longitude': -8.64...",+353(0)61302500,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, Hostel, Follow the Shamrock, S..."
3,643063d02c0b26644db2d52b,http://schema.org,"[BedAndBreakfast, LocalBusiness]",Glencarrig,https://www.facebook.com/glencarrig,"{'@type': 'GeoCoordinates', 'longitude': -9.72...",+353(0)659058209,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, B&B, Follow the Shamrock, Stan..."
4,643063d02c0b26644db2d52c,http://schema.org,"[BedAndBreakfast, LocalBusiness]",Mevagh House,http://www.mevaghhouse.com,"{'@type': 'GeoCoordinates', 'longitude': -7.78...",+353(0)749154708,"{'@type': 'PostalAddress', 'addressLocality': ...","{'@type': 'ImageObject', 'caption': 'Fáilte Ir...","[Accommodation, B&B, Follow the Shamrock, Stan..."

In [65]:
longitude,latitude = [],[]
def createDf(data): #calling function
    print(data)

In [66]:
test_Dataset = acc_df['geo']
for i in range (0,len(test_Dataset)):
            longitude.append(test_Dataset.get(i).get('longitude'))
            latitude.append(test_Dataset.get(i).get('latitude'))
data={
        'longitude':longitude,
        'latitude':latitude
}
geo_Data = pd.DataFrame(data)
geo_Data.head(10)

   longitude   latitude
0  -6.228038  52.645326
1  -8.777826  52.564189
2  -8.646733  52.655444
3  -9.721323  52.592004
4  -7.785543  55.176324
5 -10.241932  51.933964
6  -9.221627  53.572568
7  -9.829117  53.768128
8  -6.611201  53.231344
9  -6.579391  52.385478

In [67]:
locality,region,country = [],[],[]
def createDf(data): #calling function
    print(data)
test_Dataset = acc_df['address']
for i in range (0,len(test_Dataset)):
            locality.append(test_Dataset.get(i).get('addressLocality'))
            region.append(test_Dataset.get(i).get('addressRegion'))
            country.append(test_Dataset.get(i).get('addressCountry'))
data={
        'Locality':locality,
        'Region':region,
        'Country':country
}
location_Data = pd.DataFrame(data)
location_Data.head(20)
location_Data.shape

(2247, 3)

In [68]:
main_data = pd.concat([location_Data,geo_Data],axis=1)
main_data.tail(10)

                Locality     Region              Country  longitude   latitude
2237        Lisdoonvarna      Clare  Republic of Ireland  -9.289173  53.029319
2238              Fermoy       Cork  Republic of Ireland  -8.275465  52.140915
2239               Balla       Mayo  Republic of Ireland  -9.142153  53.833305
2240         Dublin City     Dublin  Republic of Ireland  -6.236170  53.348417
2241           Ashbourne      Meath  Republic of Ireland  -6.429597  53.510127
2242  Carrick-on-Shannon    Leitrim  Republic of Ireland  -8.095886  53.943717
2243          Skibbereen       Cork  Republic of Ireland  -9.130571  51.558125
2244          Carndonagh    Donegal  Republic of Ireland  -7.224352  55.242060
2245              Mallow       Cork  Republic of Ireland  -8.656962  52.185199
2246               Cahir  Tipperary  Republic of Ireland  -7.915593  52.377426

In [69]:
# we split the column geolocation to lattitude and longitude for future reference
#defining
type0 = [] 

#looping the Geo column to fetch the data
for data in acc_df["@type"]:
    type0.append(data[0]) #feath the data from first index
#placing the data in to the original dataframe as two columns and dropping the old colume geolocation
main_data['Type of Hotel'] = type0 #adding values to column
main_data['Hotel Name'] = acc_df["name"]
main_data['Url of Accomodation'] = acc_df["url"]
main_data.head(10)

,Locality,Region,Country,longitude,latitude,Type of Hotel,Hotel Name,Url of Accomodation
0,Courtown,Wexford,Republic of Ireland,-6.228038,52.645326,Hotel,Taravie Hotel,https://www.facebook.com/pages/Taravie-Hotel/2...
1,Adare,Limerick,Republic of Ireland,-8.777826,52.564189,Hotel,Adare Manor Hotel & Golf Resort,https://www.adaremanor.com/
2,Limerick City,Limerick,Republic of Ireland,-8.646733,52.655444,Hostel,Courtbrack Accommodation,
3,Carrigaholt,Clare,Republic of Ireland,-9.721323,52.592004,BedAndBreakfast,Glencarrig,https://www.facebook.com/glencarrig
4,Carrigart,Donegal,Republic of Ireland,-7.785543,55.176324,BedAndBreakfast,Mevagh House,http://www.mevaghhouse.com
5,Cahersiveen,Kerry,Republic of Ireland,-10.241932,51.933964,BedAndBreakfast,Cul Draiochta,
6,Ballinrobe,Mayo,Republic of Ireland,-9.221627,53.572568,BedAndBreakfast,Templecarrig House,https://www.templecarrighouse.com/
7,Louisburgh,Mayo,Republic of Ireland,-9.829117,53.768128,BedAndBreakfast,Cuaneen House,http://www.cuaneenhouse.com
8,Naas,Kildare,Republic of Ireland,-6.611201,53.231344,LodgingBusiness,Ashwell Cottage,http://www.ashwellcottage.com
9,Killurin,Wexford,Republic of Ireland,-6.579391,52.385478,BedAndBreakfast,Killurin Lodge,http://www.killurinlodge.com

In [71]:
data7 = pd.DataFrame(list(acc_df['tags']))
data7 = data7.drop([4,5,6,7],axis=1)
data7

,0,1,2,3
0,Accommodation,Hotel,Follow the Shamrock,Standard
1,Accommodation,Hotel,Follow the Shamrock,Standard
2,Accommodation,Hostel,Follow the Shamrock,Standard
3,Accommodation,B&B,Follow the Shamrock,Standard
4,Accommodation,B&B,Follow the Shamrock,Standard
...,...,...,...,...
2242,Accommodation,Self Catering Accommodation,Welcome Standard,Ireland's Hidden Hearthlands
2243,Accommodation,B&B,Welcome Standard,None
2244,Accommodation,Self Catering Accommodation,None,None
2245,Accommodation,Hotel,Follow the Shamrock,Standard
2246,Accommodation,B&B,Follow the Shamrock,Standard

In [73]:
data7.rename(columns={data7.columns[0]: 'Tag_0'},inplace=True)
data7.rename(columns={data7.columns[1]: 'Tag_1'},inplace=True)
data7.rename(columns={data7.columns[2]: 'Tag_2'},inplace=True)
data7.rename(columns={data7.columns[3]: 'Tag_3'},inplace=True)

In [75]:
data7

,Tag_0,Tag_1,Tag_2,Tag_3
0,Accommodation,Hotel,Follow the Shamrock,Standard
1,Accommodation,Hotel,Follow the Shamrock,Standard
2,Accommodation,Hostel,Follow the Shamrock,Standard
3,Accommodation,B&B,Follow the Shamrock,Standard
4,Accommodation,B&B,Follow the Shamrock,Standard
...,...,...,...,...
2242,Accommodation,Self Catering Accommodation,Welcome Standard,Ireland's Hidden Hearthlands
2243,Accommodation,B&B,Welcome Standard,None
2244,Accommodation,Self Catering Accommodation,None,None
2245,Accommodation,Hotel,Follow the Shamrock,Standard
2246,Accommodation,B&B,Follow the Shamrock,Standard

In [77]:
main_data

,Locality,Region,Country,longitude,latitude,Type of Hotel,Hotel Name,Url of Accomodation
0,Courtown,Wexford,Republic of Ireland,-6.228038,52.645326,Hotel,Taravie Hotel,https://www.facebook.com/pages/Taravie-Hotel/2...
1,Adare,Limerick,Republic of Ireland,-8.777826,52.564189,Hotel,Adare Manor Hotel & Golf Resort,https://www.adaremanor.com/
2,Limerick City,Limerick,Republic of Ireland,-8.646733,52.655444,Hostel,Courtbrack Accommodation,
3,Carrigaholt,Clare,Republic of Ireland,-9.721323,52.592004,BedAndBreakfast,Glencarrig,https://www.facebook.com/glencarrig
4,Carrigart,Donegal,Republic of Ireland,-7.785543,55.176324,BedAndBreakfast,Mevagh House,http://www.mevaghhouse.com
...,...,...,...,...,...,...,...,...
2242,Carrick-on-Shannon,Leitrim,Republic of Ireland,-8.095886,53.943717,LodgingBusiness,Carrick Self Catering,https://www.carrickselfcatering.ie/
2243,Skibbereen,Cork,Republic of Ireland,-9.130571,51.558125,BedAndBreakfast,Shearwater Country House and Accommodation,http://shearwaterbandb.com/
2244,Carndonagh,Donegal,Republic of Ireland,-7.224352,55.242060,LodgingBusiness,Inishowen Artists' Retreat & Studio,https://artstaysdonegal.com/
2245,Mallow,Cork,Republic of Ireland,-8.656962,52.185199,Hotel,Springfort Hall Country House Hotel,https://www.springfort-hall.com/
2246,Cahir,Tipperary,Republic of Ireland,-7.915593,52.377426,BedAndBreakfast,Ard na Greine (Cahir),http://www.ardnagreine.eu

In [79]:
results = pd.concat([main_data,data7],axis=1,join='inner')
results

,Locality,Region,Country,longitude,latitude,Type of Hotel,Hotel Name,Url of Accomodation,Tag_0,Tag_1,Tag_2,Tag_3
0,Courtown,Wexford,Republic of Ireland,-6.228038,52.645326,Hotel,Taravie Hotel,https://www.facebook.com/pages/Taravie-Hotel/2...,Accommodation,Hotel,Follow the Shamrock,Standard
1,Adare,Limerick,Republic of Ireland,-8.777826,52.564189,Hotel,Adare Manor Hotel & Golf Resort,https://www.adaremanor.com/,Accommodation,Hotel,Follow the Shamrock,Standard
2,Limerick City,Limerick,Republic of Ireland,-8.646733,52.655444,Hostel,Courtbrack Accommodation,,Accommodation,Hostel,Follow the Shamrock,Standard
3,Carrigaholt,Clare,Republic of Ireland,-9.721323,52.592004,BedAndBreakfast,Glencarrig,https://www.facebook.com/glencarrig,Accommodation,B&B,Follow the Shamrock,Standard
4,Carrigart,Donegal,Republic of Ireland,-7.785543,55.176324,BedAndBreakfast,Mevagh House,http://www.mevaghhouse.com,Accommodation,B&B,Follow the Shamrock,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...
2242,Carrick-on-Shannon,Leitrim,Republic of Ireland,-8.095886,53.943717,LodgingBusiness,Carrick Self Catering,https://www.carrickselfcatering.ie/,Accommodation,Self Catering Accommodation,Welcome Standard,Ireland's Hidden Hearthlands
2243,Skibbereen,Cork,Republic of Ireland,-9.130571,51.558125,BedAndBreakfast,Shearwater Country House and Accommodation,http://shearwaterbandb.com/,Accommodation,B&B,Welcome Standard,None
2244,Carndonagh,Donegal,Republic of Ireland,-7.224352,55.242060,LodgingBusiness,Inishowen Artists' Retreat & Studio,https://artstaysdonegal.com/,Accommodation,Self Catering Accommodation,None,None
2245,Mallow,Cork,Republic of Ireland,-8.656962,52.185199,Hotel,Springfort Hall Country House Hotel,https://www.springfort-hall.com/,Accommodation,Hotel,Follow the Shamrock,Standard
2246,Cahir,Tipperary,Republic of Ireland,-7.915593,52.377426,BedAndBreakfast,Ard na Greine (Cahir),http://www.ardnagreine.eu,Accommodation,B&B,Follow the Shamrock,Standard